@model CedulasEvaluacion.Entities.MFacturas.ModelsFacturas;
@{
    var totalFacturas = 0;
    var user = Convert.ToInt32((@User.Claims.ElementAt(2).Value).Contains("Evaluador"));
    ViewData["Title"] = "Facturas de los Servicios Generales";
    @foreach (var mes in Model.facturasMes)
    {
        totalFacturas += mes.TotalFacturas;
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-header">
                <h4>Facturación General</h4>
            </div>
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <h5 class="mt-3">Facturas Cargadas: @totalFacturas</h5>
            </div>
        </div>
    </div>
    <div class="row" id="Prrueba">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Facturas por Servicio</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#facturasMes" role="tab" aria-controls="profile" aria-selected="false">Facturas por Mes</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#facturasParciales" role="tab" aria-controls="contact" aria-selected="false">Facturas Parcialmente Pagadas</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade mt-2 ml-3 show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h4 class="mt-4">Facturas por Servicio</h4>
                    <div class="row col-lg-12">
                        @foreach (var servicio in Model.facturasServicio)
                        {
                            <div class="col-md-1 text-center mt-3">
                                <input type="text" class="facturasServicio" value="@servicio.TotalFacturas" data-width="90" data-height="90" data-fgColor="@servicio.Fondo"
                                       data-readonly="true"  /><br />
                                <a href="#" class="font-weight-bold btnServicio" style="color: @servicio.Fondo" data-servicio="@servicio.Id"
                                   data-total="@servicio.TotalFacturas">
                                    @servicio.TotalFacturas - @servicio.Servicio
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane fade mt-2 ml-3" id="facturasMes" role="tabpanel" aria-labelledby="profile-tab">
                    <h4 class="mt-4">Facturas por Mes</h4>
                    <div class="row col-lg-12">
                        @foreach (var mes in Model.facturasMes)
                        {
                            <div class="col-1 text-center mt-3">
                                <input type="text" class="facturasMes" value="@mes.TotalFacturas" data-width="90" data-height="90" data-fgColor="@mes.Fondo"
                                       data-readonly="true" data-max="@mes.TotalFacturas" />
                                <h6 class="font-weight-bold" style="color: @mes.Fondo">@mes.TotalFacturas - @mes.Mes</h6>
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane fade mt-2 ml-3" id="facturasParciales" role="tabpanel" aria-labelledby="contact-tab">
                    <h4 class="mt-4">Facturas Parcialmente Pagadas</h4>
                    <div class="row col-lg-12">
                        @foreach (var parcial in Model.facturasParciales)
                        {
                            <div class="col-1 text-center mt-3">
                                <input type="text" class="facturasParciales" value="@parcial.TotalFacturas" data-width="90" data-height="90" data-fgColor="@parcial.Fondo"
                                       data-readonly="true" data-max="@parcial.TotalFacturas" />
                                <h6 class="font-weight-bold" style="color: @parcial.Fondo">@parcial.TotalFacturas - @parcial.Servicio</h6>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-12 mt-3 justify-content-center">
        @if (Model.desgloceServicio != null)
        {
            <div class="row col-lg-10">
                <h4>Factura(s) por Mes</h4>
                <div class="row col-lg-12 mt-3">
                    @foreach (var servicio in Model.desgloceServicio)
                    {
                        @if (servicio.Tipo.Equals("Factura"))
                        {
                            <div class="col-md-3 text-center mt-3">
                                <p class="font-weight-bold" style="color: @servicio.Fondo">@servicio.Mes</p>
                                <input type="text" class="desgloceServicio" value="@servicio.Total-50" data-width="90" data-height="90" data-fgColor="@servicio.Fondo"
                                       data-readonly="true" data-max="@servicio.Total" /><br />
                                <a href="#" class="font-weight-bold btnDetalle" style="color: @servicio.Fondo" data-tipo="@servicio.Tipo" data-mes="@servicio.Mes"
                                   data-servicio="@servicio.Id">
                                    <div class="text-justify">
                                    Facturas en Proceso - @servicio.FacturasProceso<br />
                                    Facturas Pendientes - @servicio.PendientePago<br />
                                    Facturas enviadas a DGPPT - @servicio.FacturasDGPPT<br />
                                    Facturas Pagadas - @servicio.TotalPagado<br />
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="row col-lg-10 mt-3">
                <h4>Nota(s) de Crédito por Mes</h4>
                <div class="row col-lg-12 mt-3">
                    @foreach (var servicio in Model.desgloceServicio)
                    {
                        @if (servicio.Tipo.Equals("NC"))
                        {
                            <div class="col-md-3 text-center mt-3">
                                <input type="text" class="facturasServicio" value="@servicio.Total" data-width="90" data-height="90" data-fgColor="@servicio.Fondo"
                                       data-readonly="true" data-max="@servicio.Total" /><br />
                                <a href="#" class="font-weight-bold btnDetalle" style="color: @servicio.Fondo" data-tipo="@servicio.Tipo" mes="@servicio.Mes"
                                   data-servicio="@servicio.Id">
                                    @servicio.Mes -  @servicio.MontoTotal
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <div class="row col-lg-12 mt-3 justify-content-center">
        @if (Model.detalle != null)
        {
            <div class="row col-lg-10">
                <h4>Detalle de Facturas/Nota(s) de Crédito</h4>
                <div class="row col-lg-12 mt-3">
                    <table class="table table-bordered" id="tblDetalleFacturas">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mes</th>
                                <th>Anio</th>
                                <th>Folio</th>
                                <th>Estatus</th>
                                <th>Empresa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dt in Model.detalle)
                            {
                                <tr>
                                    <td>1</td>
                                    <td>@dt.Mes</td>
                                    <td>@dt.Anio</td>
                                    <td>@dt.Folio</td>
                                    <td>@dt.Estatus</td>
                                    <td>@dt.Empresa</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .swal2-icon.swal2-info {
        color: #f27474 !important;
        border-color: #f27474 !important;
    }

    .swal-wide {
        width: 800px !important;
    }

    .swal-wide2 {
        width: 900px !important;
    }
</style>
@section Scripts{
    <script>
        $(function () {
            var model = @Html.Raw(Json.Serialize(@Model));
            var totalFacturas = @totalFacturas;
            var desgloceService = 0;

            $('.btnServicio').click(function () {
                desgloceService = $(this).data('total');
                alert(desgloceService);
                window.location.href = '?Servicio=' + $(this).data('servicio');
            });

            $('.totalFacturas').knob({
                max: totalFacturas,
                format: function (value) {
                    return ((value * 100) / totalFacturas).toFixed(2) + '%';
                },
                draw: function () {
                    $(this.i).css('transform', 'rotate(0deg)').css('font-size', '11pt');
                }
            });

            $('.facturasMes').knob({
                format: function (value) {
                    return ((value * 100) / totalFacturas).toFixed(2) + '%';
                },
                draw: function () {
                    $(this.i).css('transform', 'rotate(0deg)').css('font-size', '11pt');
                }
            });

            $('.facturasServicio').knob({
                max: totalFacturas,
                format: function (value) {
                    return ((value * 100) / totalFacturas).toFixed(2) + '%';
                },
                draw: function () {
                    $(this.i).css('transform', 'rotate(0deg)').css('font-size', '11pt');
                }
            });

            $('.desgloceServicio').knob({
                max: 143,
                format: function (value) {
                    return ((value * 100) / totalFacturas).toFixed(2) + '%';
                },
                draw: function () {
                    $(this.i).css('transform', 'rotate(0deg)').css('font-size', '11pt');
                }
            });

            $('.facturasParciales').knob({
                format: function (value) {
                    return ((value * 100) / totalFacturas).toFixed(2) + '%';
                },
                draw: function () {
                    $(this.i).css('transform', 'rotate(0deg)').css('font-size', '11pt');
                }
            });

            $('.btnDetalle').click(function () {
                window.location.href = '?Servicio=' + $(this).data('servicio') + '&Mes=' + $(this).data('mes') + '&Tipo=' + $(this).data('tipo');
            });

            $("#tblDetalleFacturas").DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                "columnDefs": [
                    {
                        "targets": [cuentaTramites() > 0 ? 7 : null],
                        "visible": cuentaTramites() > 0 ? true : false,
                        "searchable": false
                    },
                ]
            });
    
        });
    </script>
}

