@* Principal de Mensajería *@
@model CedulasEvaluacion.Entities.MCedula.ModelsIndex
@{
    var i = 0;
    ViewData["Title"] = "Cédulas del Servicio de Mensajería Acelerada";
}
<div class="row" id="Prrueba">
    <div class="row col-lg-12">
        @foreach (var md in Model.cedulasEstatus)
        {
            @if (md.Prioridad.Equals("Urgente"))
            {
                <a class="btn btn-app @md.Fondo text-white font-weight-bold btnEstatus" data-estatus="@md.Estatus">
                    <span class="badge bg-danger">@md.TotalCedulas</span>
                    @Html.Raw(md.Icono)
                    Cédula(s) en estatus @md.Estatus
                </a>
            }
            else if (md.Prioridad.Equals("Alta"))
            {
                <a class="btn btn-app @md.Fondo text-white font-weight-bold btnEstatus" data-estatus="@md.Estatus">
                    <span class="badge bg-warning">@md.TotalCedulas</span>
                    @Html.Raw(md.Icono)
                    Cédula(s) en estatus @md.Estatus
                </a>
            }
            else if (md.Prioridad.Equals("Media"))
            {
                <a class="btn btn-app @md.Fondo text-white font-weight-bold btnEstatus" data-estatus="@md.Estatus">
                    <span class="badge bg-primary">@md.TotalCedulas</span>
                    @Html.Raw(md.Icono)
                    Cédula(s) en estatus @md.Estatus
                </a>
            }
            else
            {
                <a class="btn btn-app @md.Fondo text-white font-weight-bold btnEstatus" data-estatus="@md.Estatus">
                    <span class="badge bg-success">@md.TotalCedulas</span>
                    @Html.Raw(md.Icono)
                    Cédula(s) en estatus @md.Estatus
                </a>
            }
        }
    </div>
    <div class="row col-lg-12">
        @if (Model.Estatus != null && !Model.Estatus.Equals(""))
        {
            <div class="col-lg-12">
                <p class="h6 font-weight-bold">Para poder dar el seguimiento a las cédulas es necesario que seleccione el mes de evaluación: </p>
            </div>
            <div class="col-lg-12">
                @foreach (var md in Model.cedulasMes)
                {
                    <a class="btn bg-cjf btn-app-mes text-white font-weight-bold btnMes" data-mes="@md.Mes" data-estatus="@Model.Estatus">
                        <span class="badge bg-danger">@md.TotalCedulas</span>
                        "@md.Mes"
                    </a>
                }
            </div>
        }
    </div>
    @if (Model.Mes != null && !Model.Mes.Equals(""))
    {
        <div class="col-lg-12">
            <table class="table table-hover table-responsive-xl" id="dt_mensajeria">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Estatus</th>
                        <th>Servicio</th>
                        <th>Inmueble</th>
                        <th>Folio</th>
                        <th>Mes</th>
                        <th>Año</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.cedulas)
                    {
                        <tr>
                            @{i++;}
                            <td>@i</td>
                            @if (item.Estatus.Equals("Enviado a DAS"))
                            {
                                <td class="text-enviadoDAS" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            else if (item.Estatus.Equals("Revisión CAE"))
                            {
                                <td class="text-primary" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            else if (item.Estatus.Equals("En Trámite"))
                            {
                                <td class="text-info" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            else if (item.Estatus.Equals("Rechazada"))
                            {
                                <td class="text-danger" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            else if (item.Estatus.Equals("Trámite Rechazado"))
                            {
                                <td class="text-tramiteRechazado" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            else if (item.Estatus.Equals("Autorizada"))
                            {
                                <td class="text-success" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            else if (item.Estatus.Equals("Autorizado CAE"))
                            {
                                <td class="text-autorizadoCAE" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            else if (item.Estatus.Equals("Trámite de Pago"))
                            {
                                <td class="text-tramitePago" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            else if (item.Estatus.Equals("Enviada a DGPPT"))
                            {
                                <td class="text-dgppt" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            else if (item.Estatus.Equals("Pagada"))
                            {
                                <td class="text-success" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            else
                            {
                                <td class="text-warning" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.Servicio)</td>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Folio)</td>
                            <td>@Html.DisplayFor(modelItem => item.Mes)</td>
                            <td>@Html.DisplayFor(modelItem => item.Anio)</td>
                            <td>
                                @if (!item.Estatus.Equals("En Proceso") && !(@User.Claims.ElementAt(2).Value).Contains("Evaluador"))
                                {
                                    <a href="/mensajeria/revision/@item.Id" class="text-center" data-toggle="tooltip" title="Revisar Cédula" data-placement="top">
                                        <i class="fad fa-eye text-success"></i>
                                    </a>
                                }
                                @if (item.Estatus.Equals("Rechazada") || item.Estatus.Equals("En Proceso"))
                                {
                                    <a asp-action="evaluacion" asp-controller="Mensajeria" asp-route-id="@item.Id" class="text-center ml-2" data-toggle="tooltip" title="Modificar Cédula" data-placement="top">
                                        <i class="fad fa-pencil text-primary"></i>
                                    </a>
                                }
                                @if (item.Estatus.Equals("En Proceso"))
                                {
                                    <a href="#" class="text-center ml-2 delete_cedula" data-id="@item.Id" data-folio="@item.Folio" data-toggle="tooltip" title="Eliminar Cédula" data-placement="top">
                                        <i class="fad fa-times text-danger"></i>
                                    </a>
                                }
                                @if (!item.Estatus.Equals("En Proceso"))
                                {
                                    <a href="#" data-id="@item.Id" data-estatus="@item.Estatus" data-servicio="@item.ServicioId" class="text-center pdf ml-2 btn_pdf" data-toggle="tooltip" title="Generar Cédula" data-placement="top">
                                        @if (item.Estatus.Equals("Autorizada") || item.Estatus.Equals("En Trámite"))
                                        {
                                            <i class="fal fa-file-pdf text-success"></i>
                                        }
                                        else @if (item.Estatus.Equals("Rechazada"))
                                   {
                                    <i class="fal fa-file-pdf text-danger"></i>
                                }
                                else
                                {
                                    <i class="fal fa-file-pdf text-primary"></i>
                                }
                                    </a>
                                }
                                @if (!item.Estatus.Equals("En Proceso"))
                                {
                                    <a href="/mensajeria/seguimiento/@item.Id" class="text-center ml-2 btn_seguimiento" data-toggle="tooltip" title="Seguimiento a la Cédula" data-placement="top"><i class="fas fa-file-import text-primary"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<style>
    .swal2-icon.swal2-info {
        color: #f27474 !important;
        border-color: #f27474 !important;
    }
</style>
@section Scripts{
    <script>
        $(function () {
            var model = @Html.Raw(Json.Serialize(@Model));

            /*if ((model.estatus == "Trámite de Pago" || model.estatus == "Enviada a DGPPT" || model.estatus == "Pagada") && (model.mes == "" || model.mes == null) ){
                Swal.fire({
                    'icon': 'success',
                    'title': 'Servicio de Mensajería Acelerada',
                    'html': '<p style="text-align: justify"><b>Felicidades</b> La administración a la que usted está adscrito no cuenta con cédulas pendientes.</p>'
                });
            } else {
                if (model.estatus == "" || model.estatus == null) {
                    Swal.fire({
                        'icon': 'info',
                        'title': 'Servicio de Mensajería Acelerada',
                        'html': '<p style="text-align: justify">Tiene cédulas pendientes por favor <b>seleccione el estatus</b> para dar el seguimiento correspondiente.</p>'
                    });
                }
                else if ((model.estatus != "" || model.estatus != null) && (model.mes == "" || model.mes == null)) {
                    Swal.fire({
                        'icon': 'info',
                        'title': 'Servicio de Mensajería Acelerada',
                        'html': '<p style="text-align: justify">El estatus seleccionado fue <b>' + model.estatus + '</b> ahora seleccione el mes para que pueda dar seguimiento' +
                            ' a la(s) cédula(s) correspondientes.</p>'
                    });
                }
                else if (model.mes != "" || model.mes != null) {
                    Swal.fire({
                        'icon': 'info',
                        'title': 'Servicio de Mensajería Acelerada',
                        'html': '<p style="text-align: justify">El mes seleccionado fue <b>' + model.mes + '</b> ahora por favor debe brindar el seguimiento ' +
                            ' a la(s) cédula(s) correspondientes.</p>'
                    });
                }
            }*/

            $(".btnEstatus").click(function () {
                var estatus = $(this).data('estatus');
                window.location.href = "/mensajeria/index/" + model.servicioId +'?Estatus='+estatus;
            });

            $(".btnMes").click(function () {
                var mes = $(this).data('mes');
                var estatus = $(this).data('estatus');
                window.location.href = "/mensajeria/index/" + model.servicioId + '?Estatus=' + estatus+'&Mes='+mes;
            });

            $("#dt_mensajeria").DataTable({
                paging: true,
                bLengthChange: false,
                pageLength: 10,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
            });

            $('.btn_pdf').click(function () {
                let id = $(this).data('id');
                let estatus = $(this).data('estatus');
                let servicio = $(this).data('servicio');
                if (estatus == 'Autorizada') {
                    Swal.fire({
                        'icon': 'info',
                        'title': 'Servicio de Mensajería Acelerada',
                        'html': '<p style="text-align: justify">La cédula de evaluación ya fue autorizada, no olvide firmarla electrónicamente y ' +
                            'posteriormente <strong>subirla en el sistema CASESGV2 en el apartado de "Seguimiento a la Cédula"</strong>, si tiene alguna duda por favor ' +
                            'comuníquese a la ext. 2574 o 2635. </p>'
                    }).then(function () {
                        window.open('/cedula/mensajeria/'+servicio +'/'+ id, '_blank');
                    });
                } else {
                    window.open('/cedula/mensajeria/' + servicio + '/' + id, '_blank');
                }
            });


        });
    </script>
}

