@* Principal de Mensajería *@
@model IEnumerable<CedulasEvaluacion.Entities.Vistas.VCedulas>
@{
    ViewData["Title"] = "Listado de Cédulas del Servicio de Mensajería Acelerada";
}
<div class="row" id="Prrueba">
    <div class="col-lg-12">
        <table class="table table-hover table-responsive-xl" id="dt_mensajeria">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estatus</th>
                    <th>Servicio</th>
                    <th>Inmueble</th>
                    <th>Folio</th>
                    <th>Mes</th>
                    <th>Año</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var item in Model)
                {
                    <tr>
                        @{i++;}
                    <td>@i</td>
                         @if (item.Estatus.Equals("Enviado a DAS"))
                        {
                            <td class="text-enviadoDAS" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                        else if (item.Estatus.Equals("Revisión CAE"))
                        {
                            <td class="text-primary" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                        else if (item.Estatus.Equals("En Trámite"))
                        {
                            <td class="text-info" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                        else if (item.Estatus.Equals("Rechazada"))
                        {
                            <td class="text-danger" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                        else if (item.Estatus.Equals("Trámite Rechazado"))
                        {
                            <td class="text-tramiteRechazado" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                        else if (item.Estatus.Equals("Autorizada"))
                        {
                            <td class="text-success" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                        else if (item.Estatus.Equals("Autorizado CAE"))
                        {
                            <td class="text-autorizadoCAE" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                        else if (item.Estatus.Equals("Trámite de Pago"))
                        {
                            <td class="text-tramitePago" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                        else if (item.Estatus.Equals("Enviada a DGPPT"))
                        {
                            <td class="text-dgppt" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                        else if (item.Estatus.Equals("Pagada"))
                        {
                            <td class="text-success" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                        else 
                        {
                            <td class="text-warning" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Estatus)</td>
                        }
                    <td>@Html.DisplayFor(modelItem => item.Servicio)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Folio)</td>
                    <td>@Html.DisplayFor(modelItem => item.Mes)</td>
                    <td>@Html.DisplayFor(modelItem => item.Anio)</td>
                    <td>
                        @if (!item.Estatus.Equals("En Proceso") && !(@User.Claims.ElementAt(2).Value).Contains("Evaluador"))
                        {
                            <a href="/mensajeria/revision/@item.Id" class="text-center" data-toggle="tooltip" title="Revisar Cédula" data-placement="top">
                                <i class="fad fa-eye text-success"></i>
                            </a>
                        }
                        @if (item.Estatus.Equals("Rechazada") || item.Estatus.Equals("En Proceso"))
                        {
                            <a asp-action="evaluacion" asp-controller="Mensajeria" asp-route-id="@item.Id" class="text-center ml-2" data-toggle="tooltip" title="Modificar Cédula" data-placement="top">
                                <i class="fad fa-pencil text-primary"></i>
                            </a>
                        }
                        @if (item.Estatus.Equals("En Proceso"))
                        {
                            <a href="#" class="text-center ml-2 delete_cedula" data-id="@item.Id" data-folio="@item.Folio" data-toggle="tooltip" title="Eliminar Cédula" data-placement="top">
                                <i class="fad fa-times text-danger"></i>
                            </a>
                        }
                        @if (!item.Estatus.Equals("En Proceso"))
                        {
                            <a href="#" data-id="@item.Id" data-estatus="@item.Estatus" class="text-center pdf ml-2 btn_pdf" data-toggle="tooltip" title="Generar Cédula" data-placement="top">
                                @if (item.Estatus.Equals("Autorizada") || item.Estatus.Equals("En Trámite"))
                                {
                                    <i class="fal fa-file-pdf text-success"></i>
                                }
                                else @if (item.Estatus.Equals("Rechazada"))
                           {
                            <i class="fal fa-file-pdf text-danger"></i>
                        }
                        else
                        {
                            <i class="fal fa-file-pdf text-primary"></i>
                        }
                            </a>
                        }
                        @if (!item.Estatus.Equals("En Proceso"))
                        {
                            <a href="/mensajeria/seguimiento/@item.Id" class="text-center ml-2 btn_seguimiento" data-toggle="tooltip" title="Seguimiento a la Cédula" data-placement="top"><i class="fas fa-file-import text-primary"></i></a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#dt_mensajeria").DataTable({
                paging: true,
                bLengthChange: false,
                pageLength: 10,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
            });

            $('.btn_pdf').click(function () {
                let id = $(this).data('id');
                let estatus = $(this).data('estatus');
                if (estatus == 'Autorizada') {
                    Swal.fire({
                        'icon': 'info',
                        'title': 'Servicio de Mensajería Acelerada',
                        'html': '<p style="text-align: justify">Tu cédula de evaluación ya fue autorizada, no olvides firmarla electrónicamente y posteriormente <strong>enviarla a la DAS a través del CASESG, de lo ' +
                            'contrario no se recibirá la documentación en físico. <br><br>Para más información comunicate a la ext. 2574 o 2635. </strong></p>'
                    }).then(function () {
                        window.open('/cedula/mensajeria/' + id, '_blank');
                    });
                } else {
                    window.open('/cedula/mensajeria/' + id, '_blank');
                }
            });


        });
    </script>
}

