@model CedulasEvaluacion.Entities.MCedula.CedulaEvaluacion;
@{
    ViewData["Title"] = "Cédula del Servicio de Análisis Microbiológicos con Folio: " + Model.Folio;
}

<div class="container-fluid" id="limpieza">
    <a href="#" type='button' id="btn_facturas" class='btn-sm btn-facturas float-right mr-2 mb-3' data-toggle="tooltip" title="Ver/Agregar Facturas" data-placement="top"><i class="fal fa-file-invoice"></i></a>
    @if (@Model.facturas.Count != 0)
    {
        <a href="/documents/actaAnalisis/@Model.Id" class='btn-sm btn-primary float-right mr-2 mb-3' data-toggle="tooltip" title="Generar Acta ER" data-placement="top">
            <i class="fal fa-calendar-alt"></i>
        </a>
    }
    <a href="/analisis/index" type='button' class='btn-sm btn-warning float-right mr-2 mb-3' data-toggle="tooltip" title="Regresar al Listado de Cédulas de Análisis Microbiológicos" data-placement="top"><i class="fal fa-arrow-left"></i></a>
    <div class="row col-lg-12 mt-2 mb-3">
        <table class="table">
            <tr>
                <td data-toggle="tooltip" title="Folio de evaluación asignado por el sistema" data-placement="top" style="font-family: Tahoma; font-size: 13.5px; letter-spacing: 0.8px;"><strong>Folio: </strong> @Model.Folio</td>
                <td data-toggle="tooltip" title="Año de evaluación del servicio" data-placement="top"><strong>Año: </strong>@Model.Anio</td>
                <td data-toggle="tooltip" title="Mes evaluado" data-placement="top"><strong>Mes: </strong>@Model.Mes</td>
                <td data-toggle="tooltip" title="Administración/Inmueble evaluado" data-placement="top"><strong>Inmueble: </strong>@Model.inmuebles.Nombre</td>
                <td data-toggle="tooltip" title="Estatus de la cédula del servicio de Análisis Microbiológicos" data-placement="top"><strong>Estatus: </strong>@Model.Estatus</td>
            </tr>
            <tr>
                <td id="total_facturas" data-toggle="tooltip" title='Cantidad de facturas asignadas a el mes de "@Model.Mes" del inmueble "@Model.inmuebles.Nombre"' data-placement="top">
                    <strong>Facturas asignadas: </strong> @Model.facturas.Count
                </td>
                <td id="monto_facturas" data-toggle="tooltip" title="Monto total de las facturas capturadas en este folio" data-placement="top">
                    <strong>Monto Total IVA Incluido: </strong>@String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:C}", @Model.TotalMontoFactura)
                </td>
                <td colspan="3"></td>
            </tr>
        </table>
    </div>
    <div class="card">
        <div class="card-header bg-joke text-white">
            <h5 class="mt-2">Evaluación de la cedula</h5>
        </div>
        <div class="card-body">
            <div class="row ">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#pregunta_1" role="tab" aria-controls="home" aria-selected="true">Pregunta 1</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#pregunta_2" role="tab" aria-controls="profile" aria-selected="false">Pregunta 2</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#pregunta_3" role="tab" aria-controls="contact" aria-selected="false">Pregunta 3</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#pregunta_4" role="tab" aria-controls="contact" aria-selected="false">Pregunta 4</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#pregunta_5" role="tab" aria-controls="contact" aria-selected="false">Pregunta 5</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#pregunta_6" role="tab" aria-controls="contact" aria-selected="false">Pregunta 6</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#pregunta_7" role="tab" aria-controls="contact" aria-selected="false">Pregunta 7</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#entregables" role="tab" aria-controls="contact" aria-selected="false">Entregables</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        @* Pregunta 1 *@
                        <div class="tab-pane fade mt-2 ml-3 show active" id="pregunta_1" role="tabpanel" aria-labelledby="home-tab">
                            <p class="text-black h5">1. ¿Cúando se estableció el cierre de mes?</p>
                            <div class="form-group">
                                <label for="fechaCierre">Fecha de Cierre</label>
                                <input type="date" name="pregunta1" class="form-control col-lg-2 pregunta1">
                            </div>
                        </div>
                        @* Fin de la Pregunta 1 *@
                        @* Pregunta 2 *@
                        <div class="tab-pane fade mt-2 ml-3" id="pregunta_2" role="tabpanel" aria-labelledby="profile-tab">
                            <p class="text-black h5">2. ¿El servicio se llevó a cabo en la fecha programada?</p>
                            <div class="icheck-success d-inline">
                                <input type="radio" name="pregunta2" value="true" id="radioSuccess1" class="pregunta2">
                                <label for="radioSuccess1">Si</label>
                            </div>
                            <div class="icheck-success d-inline ml-3">
                                <input type="radio" name="pregunta2" value="false" id="radioSuccess2" class="pregunta2">
                                <label for="radioSuccess2">No</label>
                            </div>
                            <div class="form-row col-lg-12 mt-3" id="diviPregunta2">
                                <div class="form-row">
                                    <div class="col col-lg-2">
                                        <label for="fechaCierre">Fecha Programada:</label>
                                        <input type="date" id="fecha_programada" class="form-control">
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="fechaCierre">Fecha Realizada:</label>
                                        <input type="date" id="fecha_realizada" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Fin de la Pregunta 2 *@
                        @* Pregunta 3 *@
                        <div class="tab-pane fade mt-2 ml-3" id="pregunta_3" role="tabpanel" aria-labelledby="contact-tab">
                            <p class="text-black h5">3. ¿El prestador de servicios se presentó con la maquinaria, instrumentos y equipo necesario para la realización del servicio?</p>
                            <div class="icheck-success d-inline">
                                <input type="radio" name="pregunta3" value="true" id="radioSuccess3" class="pregunta3" data-pregunta="3">
                                <label for="radioSuccess3">Si</label>
                            </div>
                            <div class="icheck-success d-inline ml-3">
                                <input type="radio" name="pregunta3" value="false" id="radioSuccess4" class="pregunta3" data-pregunta="3">
                                <label for="radioSuccess4">No</label>
                            </div>
                            <div class="row col-lg-12 mt-3" id="diviPregunta3">
                                <button type='button' class='btn btn-primary mr-2 addIncidencias' data-pregunta="3">Capturar Incidencia</button>
                                <button type='button' class='btn btn-primary viewIncidencias' data-pregunta="3">Consultar Insidencias</button>
                            </div>
                        </div>
                        @* Fin de la Pregunta 3 *@
                        @* Pregunta 4 *@
                        <div class="tab-pane fade mt-2 ml-3" id="pregunta_4" role="tabpanel" aria-labelledby="contact-tab">
                            <p class="text-black h5">4. ¿El personal del servicio portó uniforme e identificación en todo momento?</p>
                            <div class="icheck-success d-inline">
                                <input type="radio" name="pregunta4" value="true" id="radioSuccess5" class="pregunta4">
                                <label for="radioSuccess5">Si</label>
                            </div>
                            <div class="icheck-success d-inline ml-3">
                                <input type="radio" name="pregunta4" value="false" id="radioSuccess6" class="pregunta4">
                                <label for="radioSuccess6">No</label>
                            </div>
                        </div>
                        @* Fin de la Pregunta 4 *@
                        @* Pregunta 5 *@
                        <div class="tab-pane fade mt-2 ml-3" id="pregunta_5" role="tabpanel" aria-labelledby="contact-tab">
                            <p class="text-black h5">5. ¿La recolección incluyó por lo menos 7 muestras recolectadas del servicio de alimentos?</p>
                            <div class="icheck-success d-inline">
                                <input type="radio" name="pregunta5" value="true" id="radioSuccess7" class="pregunta5" data-pregunta="5">
                                <label for="radioSuccess7">Si</label>
                            </div>
                            <div class="icheck-success d-inline ml-3">
                                <input type="radio" name="pregunta5" value="false" id="radioSuccess8" class="pregunta5" data-pregunta="5">
                                <label for="radioSuccess8">No</label>
                            </div>
                            <div class="row col-lg-2 mt-3" id="diviPregunta5">
                                <label for="comentariosP3">Muestras Recolectadas: </label>
                                <input class="form-control dPregunta5" style="resize:none;" type="number" />
                            </div>
                        </div>
                        @* Fin de la Pregunta 5 *@
                        @* Pregunta 6 *@
                        <div class="tab-pane fade mt-2 ml-3" id="pregunta_6" role="tabpanel" aria-labelledby="contact-tab">
                            <p class="text-black h5">6. La entrega de resultados se llevó a cabo dentro de los primeros cinco días hábiles del mes siguiente a la recolección de muestras</p>
                            <div class="icheck-success d-inline">
                                <input type="radio" name="pregunta6" value="true" id="radioSuccess9" class="pregunta6">
                                <label for="radioSuccess9">Si</label>
                            </div>
                            <div class="icheck-success d-inline ml-3">
                                <input type="radio" name="pregunta6" value="false" id="radioSuccess10" class="pregunta6">
                                <label for="radioSuccess10">No</label>
                            </div>
                            <div class="form-row col-lg-12 mt-3" id="diviPregunta6">
                                <div class="form-row">
                                    <div class="col col-lg-2">
                                        <label for="fechaCierre">Fecha de Recolección:</label>
                                        <input type="date" id="fechaRecoleccion" class="form-control">
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="fechaCierre">Fecha de Entrega:</label>
                                        <input type="date" id="fechaEntrega" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Fin de la Pregunta 6 *@
                        @* Pregunta 7 *@
                        <div class="tab-pane fade mt-2 ml-3" id="pregunta_7" role="tabpanel" aria-labelledby="contact-tab">
                            <p class="text-black h5">7. ¿Se entregó el reporte de servicio?</p>
                            <div class="icheck-success d-inline">
                                <input type="radio" name="pregunta7" value="true" id="radioSuccess11" class="pregunta7">
                                <label for="radioSuccess11">Si</label>
                            </div>
                            <div class="icheck-success d-inline ml-3">
                                <input type="radio" name="pregunta7" value="false" id="radioSuccess12" class="pregunta7">
                                <label for="radioSuccess12">No</label>
                            </div>
                            <div class="form-group mt-2" id="diviPregunta7">
                                <label for="fechaEntrega">Fecha de Entrega:</label>
                                <input type="date" class="form-control col-lg-2 dPregunta7">
                            </div>
                        </div>
                        @* Fin de la Pregunta 7 *@
                        @* Entregables *@
                        <div class="tab-pane fade mt-2 ml-3" id="entregables" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="col-lg-12 mt-3">
                                <h3>Adjuntar Entregables</h3>
                                Favor de Adjuntar la Factura, el Acta Entrega - Recepción y la Validación del SAT.
                                <a href="#" type='button' class='btn-sm btn-success mr-2 float-right btn_addFile'><i class="fas fa-plus"></i></a>
                            </div>
                            <div class="row col-lg-12 mt-3">
                                <table class="table" id="tblEntregables">
                                    <thead>
                                        <tr>
                                            <th>Entregable</th>
                                            <th>Archivo</th>
                                            <th>Fecha de Carga</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tEntregables"></tbody>
                                </table>
                            </div>
                        </div>
                        @* Fin de Entregables *@
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class=" col-lg-12">
                <button type="button" class="btn btn-primary float-right ml-3 btn_enviar">Enviar a DAS</button>
                <button type="button" class="btn btn-success float-right btn_guardar">Guardar Cédula</button>
            </div>
        </div>
    </div>
</div>

@* Modal para agregar facturas la cedula *@
<div class="modal fade" id="modal-facturas">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Agregar/Modificar Factura</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" id="idFactura" type="hidden" />
                <div class="row col-lg-12 mt-2">
                    <div class="form-group col-lg-6">
                        <label for="elegirArchivo">Seleccionar Archivo XML: </label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input file_factura" id="fileFactura" accept=".xml">
                            <label class="custom-file-label" for="customFile">Subir "XML" de la factura</label>
                        </div>
                        <div class="col-sm-12 error_customFile">
                            <small id="dateHelp" class="text-danger">
                                Por favor seleccione él archivo correspondiente
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-primary" id="agregarFactura">Guardar Factura</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* FIN del Modal para agregar facturas la cedula *@

@* Modal para ver las facturas de la cedula *@
<div class="modal fade" id="modal-ver-facturas">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Ver/Agregar Factura(s)</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button class='btn btn-sm btn-primary mr-2 mb-3' data-toggle="tooltip" title="Agregar Facturas" data-placement="top" id="add_facturas">
                    <i class="fal fa-plus text-white"></i> Agregar Factura
                </button>
                <div class=" row col-lg-12">
                    <p>
                        <strong style="color: dodgerblue;">NOTA: </strong>Favor de revisar que los <strong style="color: dodgerblue;"> datos de la cédula </strong> resaltados en color <strong style="color: dodgerblue;">Azul </strong> coincidan con
                        la información de la factura que fue agregada.
                    </p>
                </div>
                <div class="tblFacturas scrollbar-deep-purple">
                    <div class="bodyFacturas">
                        <div class="mt-3">
                            <table class="table" id="listado_facturas">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Empresa</th>
                                        <th>Folio Fiscal</th>
                                        <th>Número Factura</th>
                                        <th>Subtotal Factura</th>
                                        <th>Total</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="listaFacturas"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
@* FIN del Modal para ver las facturas de la cedula *@

@* Modal para ver los conceptos de las facturas de la cedula *@
<div class="modal fade" id="modal-ver-conceptos">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white" id="factura_serie"></h4>
                <button type="button" class="close close_conceptos text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row col-lg-12" id="detalle_conceptos"></div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
@* Fin de Modal para ver los conceptos de las facturas de la cedula *@

@* Modal para la captura de Incidencias *@
<div class="modal fade" id="modal-incidencias">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Registrar Incidencia</h4>
                <button type="button" class="close close-incidencias text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <input type="hidden" id="idIncidencia" />
                            <input type="hidden" id="pregunta" />
                            <div class="form-group col-md-4">
                                <label for="tipoIncidencia">Tipo: </label>
                                <select id="tipo_incidencia" class="form-control">
                                    <option value="">Seleccione una opción</option>
                                    <option value="Muestras">Muestras</option>
                                    <option value="Vehículos">Vehículos</option>
                                    <option value="Hojas Técnicas">Hojas Técnicas</option>
                                    <option value="Fichas de Seguridad">Fichas de Seguridad</option>
                                </select>
                                <div class="col-sm-12" id="error_tipoIncidencia">
                                    <small id="dateHelp" class="text-danger">
                                        Por favor capture el Tipo de Incidencia
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fechaCierre">Fecha de la Incidencia:</label>
                                <input type="date" id="fechaIncidencia" class="form-control">
                                <div class="col-sm-12" id="error_fechaInci">
                                    <small id="dateHelp" class="text-danger">
                                        Por favor capture la Fecha de la incidencia
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="areaIncidencia">Comentarios:</label>
                        <textarea type="textarea" id="inciComentarios" class="form-control" style="resize: none;" maxlength="256"></textarea>
                    </div>
                    <div class="col-sm-12" id="error_comentariosInci">
                        <small id="dateHelp" class="text-danger">
                            Por favor capture los comentarios correspondientes
                        </small>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-primary" id="guardaIncidencia">Guardar Incidencia</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin Modal para la captura de Incidencias *@

@* Modal para mostrar las Incidencias *@
<div class="modal fade" id="modal-consultaIncidencias">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Lista de Incidencias del Programa de Operación</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-responsive-xl">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tipo</th>
                                    <th>Fecha de la Incidencia</th>
                                    <th>Comentarios</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tbl_incidencias"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin Modal para mostrar las Incidencias *@

@* Modal para la captura de Adjuntos *@
<div class="modal fade" id="modal_evidencias">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Adjuntar Entregables</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="file_id" />
                    <div class="form-group col-lg-4">
                        <label for="tipoIncidencia">Tipo de Entregable:</label>
                        <select class="form-control" id="tipo_entregable">
                            <option value="">Seleccione un Entregable</option>
                            <option value="ActaER">Acta Entrega - Recepción</option>
                            <option value="Factura">Factura</option>
                            <option value="SAT">Validación del SAT</option>
                            <option value="NotaCredito">Nota de Crédito</option>
                            <option value="Reporte de Servicio">Reporte de Servicio</option>
                        </select>
                        <div class="col-sm-12" id="error_tipoEntre">
                            <small id="dateHelp" class="text-danger">
                                Por favor seleccione el tipo de entregable
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="elegirArchivo">Seleccionar Archivo: </label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" accept=".pdf">
                            <label class="custom-file-label" for="customFile">Seleccionar Archivo</label>
                        </div>
                        <div class="col-sm-12" id="error_customFile">
                            <small id="dateHelp" class="text-danger">
                                Por favor seleccione él archivo correspondiente
                            </small>
                        </div>
                    </div>
                    <div class="form-row col-lg-12 mt-2" id="comentariosEntregable">
                        <div class="form-group mt-2 col-md-12">
                            <label for="fechaCierre">Comentarios:</label><br>
                            <textarea id="comentarios_entregable" class="form-control float-left"></textarea>
                            <div class="col-sm-12" id="error_comentariosEntre">
                                <small id="comentariosHelp" class="text-danger">
                                    Por favor capture los comentarios correspondientes
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-primary" id="adjuntarArchivo">Adjuntar Entregable</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin Modal para la captura de Incidencias *@

@* Modal para la ver Adjuntos *@
<div class="modal fade" id="modal_pdf">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white" id="titlePDF"></h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td><strong>Folio: </strong> @Model.Folio</td>
                        <td><strong>Año: </strong>@Model.Anio</td>
                        <td><strong>Mes: </strong>@Model.Mes</td>
                        <td><strong>Inmueble: </strong>@Model.inmuebles.Nombre</td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>Estatus: </strong>@Model.Estatus </td>
                    </tr>
                </table>
                <div class="row" id="entregablePDF"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin Modal para ver Adjuntos*@

@section Scripts{
    <script>
        $(function () {
            var totalPreguntas = '@Model.RespuestasEncuesta.Count';
            var respuestas = @Html.Raw(Json.Serialize(@Model.RespuestasEncuesta));
            var model = @Html.Raw(Json.Serialize(@Model));


            var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
            /*Llenamos el Combo de Meses de Correspondencia*/
                let optionsMes = "<option value=''>Selecciona el Mes</option>";
                meses.forEach(function (mes) {
                    optionsMes += "<option value=" + mes + ">" + mes + "</option>"
                });
                $("#mes_correspondiente").html(optionsMes);
            /*Fin del Combo de inmuebles*/

            $('[data-toggle="tooltip"]').tooltip();

            /*Detalles de Incidencias*/
                $('#diviPregunta2').css('display', 'none');
                $('#diviPregunta3').css('display', 'none');
                $('#diviPregunta5').css('display', 'none');
                $('#diviPregunta6').css('display', 'none');
                $('#diviPregunta7').css('display', 'none');
            /*Detalles de Incidencias*/

            /*Errores*/
                /*Adjuntar Archivos*/
                    $('#error_tipoEntre').css('display', 'none');
                    $('#error_customFile').css('display', 'none');
                    $('#error_comentariosEntre').css('display', 'none');
                    $('.error_customFile').css('display', 'none');
                /*Fin de Errores*/

            /*Componentes de Incidencias*/
                $('#divCategoria').css('display', 'none');
                $('#divInciComentarios').css('display', 'none');
                $('#divInciFecha').css('display', 'none');
                $('#error_tipoIncidencia').css('display', 'none');
                $('#error_comentariosInci').css('display', 'none');
                $('#error_fechaInci').css('display', 'none');
            /*Fin Componentes de Incidencias*/


            /********************************** Agregar/Cambiar Facturas *************************************/
                /*Proceso para editar la cedula*/
                    $(document).on('click','.update_factura',function () {
                        var id = $(this).data('id');

                        $("#idFactura").val(id);

                        $('#modal-ver-facturas').modal('hide');
                        $("#modal-facturas").modal('show');

                    });

                    $(document).on('click','.view_factura',function () {
                        var id = $(this).data('id');
                        var divTbl = "";
                        $('#modal-ver-facturas').modal('hide');
                        axios.get('/limpieza/getFacturas/' + model.id + '/' + 8).then(table => {
                            $("#factura_serie").text("Detalle de la Factura: " + table.data[id].comprobante.serie + table.data[id].comprobante.folio);
                            var conceptos = table.data[id].concepto;

                            for (var i = 0; i < conceptos.length; i++) {
                                divTbl += '<div class="row col-lg-12 mt-1">' +
                                    '<table class="table table-borderless">' +
                                    '<tr>' +
                                        '<td colspan="4"><strong>Concepto: </strong>' + conceptos[i].descripcion + '</td>'+
                                    '</tr>'+
                                    '<tr>' +
                                    '    <td data-toggle="tooltip" title="Número de elementos que prestaron el servicio en el mes" data-placement="top" id="concepto_cantidad"><strong>Cantidad: </strong>' + table.data[id].concepto[i].cantidad + '</td>' +
                                    '    <td data-toggle="tooltip" title="Clave del Producto o Servicio Facturado" data-placement="top" id="concepto_cveProduc"><strong>Clave del Producto: </strong>' + table.data[id].concepto[i].claveProdServ + '</td>' +
                                    '    <td data-toggle="tooltip" title="Clave de la Medida en Base al Servicio" data-placement="top" id="concepto_medida"><strong>Clave de Medida: </strong>' + table.data[id].concepto[i].claveUnidad + '</td>' +
                                    '    <td data-toggle="tooltip" title="Unidad de Medida" data-placement="top" id="concepto_unidadMed"><strong>Unidad de Medida: </strong>' + table.data[id].concepto[i].unidad + '</td>' +
                                    '    <td data-toggle="tooltip" title="Tipo de CFDI" data-placement="top" id="tipo_cfdi"><strong>Uso de CFDI: </strong>' + table.data[id].receptor.usoCFDI + '</td>' +
                                    '    <td data-toggle="tooltip" title="Valor unitario por unidad" data-placement="top" id="concepto_unitario"><strong>Precio Unitario: </strong> $ ' + (table.data[id].concepto[i].valorUnitario).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                    '    <td data-toggle="tooltip" title="IVA del subtotal del 16%" data-placement="top" id="concepto_iva"><strong>IVA: </strong> $ ' + (table.data[id].traslado.importe).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + '</td>' +
                                    '    <td data-toggle="tooltip" title="Importe total de la facturación" data-placement="top" id="concepto_total"><strong>Total: </strong> $ ' + (table.data[id].concepto[i].importe).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + '</td>' +
                                    '    <td colspan="3"></td>' +
                                    '</tr>' +
                                    '</table>' +
                                    '</div>';
                            }
                            $("#detalle_conceptos").html(divTbl);
                            $('#modal-ver-conceptos').modal('show');
                        });
                   });

                    $(document).on('click', '.delete_factura', function () {
                        var id = $(this).data('id');
                        var serie = $(this).data('serie');
                        var descripcion = $(this).data('descr');
                        var folio = serie + $(this).data('folio')+"";

                        Swal.fire({
                            'icon': 'warning',
                            'title': 'Servicio de Análisis Microbiológicos',
                            'html': '<strong>Advertencia:</strong><p>¿Deseas eliminar la factura con Folio <strong>' + folio + '</strong> correspondiente al <strong>' +
                                descripcion +'</strong>?</p>',
                            'confirmButtonColor': '#3085d6',
                            'cancelButtonColor': '#d33',
                            'confirmButtonText': 'Si, deseo continuar',
                            'cancelButtonText': 'Cancelar',
                            'showCancelButton': true
                        }).then(yes => {
                            if (yes.isConfirmed) {
                                Swal.fire({
                                    'icon': 'warning',
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'text': 'Escriba la palabra ELIMINAR en mayúsculas para confirmar el borrado de la factura con folio: '+folio,
                                    'confirmButtonColor': '#3085d6',
                                    'cancelButtonColor': '#d33',
                                    'confirmButtonText': 'Si, eliminar',
                                    'cancelButtonText': 'Cancelar',
                                    'showCancelButton': true,
                                    'input': 'text',
                                    'inputPlaceholder': 'Escribe la palabra ELIMINAR'
                                }).then(del => {
                                    if (del.value == 'ELIMINAR') {
                                        axios.delete('/limpieza/deleteFactura/'+id).then(del => {
                                            Swal.fire({
                                                'icon': 'success',
                                                'title': 'Servicio de Análisis Microbiológicos',
                                                'text': 'La factura fue eliminada exitósamente.',
                                            }).then(function () {
                                                window.location.reload();
                                            });
                                        })
                                    }
                                });
                            }
                        });
                    });

                    $(".file_factura").change(function (e) {
                        var archivo = e.target.files[0];
                        var fileName = $(this).val().split("\\").pop();
                        var ext = fileName.split('.').pop();
                        if (ext == "xml") {
                            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                            if ($('.file_factura').hasClass('is-invalid')) {
                                $('.file_factura').removeClass('is-invalid');
                                $('.file_factura').addClass('is-valid');
                                $('.error_customFile').css('display', 'none')
                            } else {
                                $('.file_factura').addClass('is-valid');
                            }
                        } else {
                            Swal.fire({
                                'icon': 'error',
                                'title': 'Servicio de Análisis Microbiológicos',
                                'text': 'El archivo que intentas adjuntar no es válido. Favor de solo seleccionar archivos "Xml"'
                            });

                            $(".custom-file-label").text("Seleccionar Archivo");
                            document.getElementById('customFile').value = '';

                            if ($('.file_factura').hasClass('is-valid')) {
                                $('.file_factura').removeClass('is-valid');
                                $('.file_factura').addClass('is-invalid');
                            }
                            $('.file_factura').addClass('is-invalid');
                            $('.error_customFile').css('display', 'block');
                        }
                    });

                    function validaCamposArchivoXml() {
                        if ($('.file_factura').val() == "") {
                            $('.file_factura').addClass('is-invalid');
                            $('.error_customFile').css('display', 'block');

                            return false;
                        }
                        return true;
                    }

                    $('#agregarFactura').click(function () {
                         var id = $("#idFactura").val();

                         var formData = new FormData();
                         var file = document.getElementById('fileFactura').files[0];

                         if (id.length > 0) {
                             id = parseInt(id);
                         } else {
                             id = 0;
                         }

                         formData.append("Id", id);
                         formData.append("ServicioId", 8);
                         formData.append("CedulaId", model.id);
                         formData.append("Xml", file);
                         if (validaCamposArchivoXml() == true) {
                             if (id == "") {
                                 axios.post('/limpieza/insertaFactura', formData).then(fact => {
                                     Swal.fire({
                                         'icon': "success",
                                         'title': 'Servicio de Análisis Microbiológicos',
                                         'html': 'La factura fue agregada a la cédula de forma correcta.'
                                     }).then(function () {
                                         window.location.reload();
                                     });
                                 });
                             } else {
                                 axios.post('/limpieza/updateFactura', formData).then(fact => {
                                     Swal.fire({
                                         'icon': "success",
                                         'title': 'Servicio de Análisis Microbiológicos',
                                         'html': 'La factura fue actualizada de forma correcta.'
                                     }).then(function () {
                                         window.location.reload();
                                     });
                                 });
                             }
                        }
                    });
                /*FIN del proceso para editar la cedula*/

                /*Ver Facturas*/
                $("#btn_facturas").click(function () {
                    axios.get('/limpieza/getFacturas/' + model.id + '/' + 8).then(table => {
                        var facturas = table.data;
                        for (var i = 0; i < facturas.length; i++) {
                            table += "<tr>" +
                                "<td>" + (i + 1) + "</td>" +
                                "<td>" + facturas[i].emisor.nombre + "</td>" +
                                "<td>" + facturas[i].timbreFiscal.uuid + "</td>" +
                                "<td>" + (facturas[i].comprobante.serie + "" + facturas[i].comprobante.folio) + "</td>" +
                                "<td> $" + parseFloat(facturas[i].comprobante.subTotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + "</td>" +
                                "<td> $" + parseFloat(facturas[i].comprobante.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + "</td>" +
                                "<td>" +
                                "<a class='view_factura' href='#' data-id='" + i + "'><i class='far fa-list text-success'></i></a>" +
                                "<a class='update_factura' href='#' data-id='" + facturas[i].id + "'><i class='fad fa-pencil text-primary ml-2'></i></a>" +
                                "<a class='delete_factura' href='#' data-id='" + facturas[i].id + "' data-serie='" + facturas[i].comprobante.serie +
                                "' data-folio='" + facturas[i].comprobante.folio + "' data-total='" + facturas[i].comprobante.total + "' " +
                                " data-descr='" + facturas[i].concepto.descripcion + "'><i class='fad fa-times text-danger ml-2'></i></a>" +
                                "</td>" +
                                "</tr>";
                        }
                        $("#listaFacturas").html(table);
                        if (facturas.length == 0) {
                            $("#listado_facturas").hide();
                        } else {
                            $("#listado_facturas").show();
                        }
                    });
                    $('#modal-ver-facturas').modal('show');
                });
                /*Fin de Ver Facturas*/

                /*Agregar Facturas*/
                    $('#add_facturas').click(function () {
                        $("#idFactura").val('');
                        $('#modal-ver-facturas').modal('hide');
                        $('#modal-facturas').modal('show');
                    });
                /*Fin Agregar Facturas*/


            /******************************* FIN Agregar/Cambiar Facturas **********************************/
            /******************************* Editar Cuestionario ******************************************/
                var tipoPregunta = null;
                for (var i = 0; i < respuestas.length; i++) {
                    tipoPregunta = $('.pregunta' + respuestas[i].pregunta).attr("type");
                    if (tipoPregunta == "radio") {
                        $('input:radio[name="pregunta' + respuestas[i].pregunta + '"][value="' + respuestas[i].respuesta + '"]').prop('checked', true);
                        if (respuestas[i].respuesta == false) {
                            if (i == 4) {
                                $(".dPregunta" + (i + 1)).val(respuestas[i].detalles);
                            }
                            $("#diviPregunta" + (i + 1)).css('display', 'block');
                        } else if (respuestas[i].respuesta == true && (i == 5 || i == 6 || i == 1)) {
                            if(i == 1) {
                                var fechas = respuestas[i].detalles.split("|");
                                $("#fecha_programada").val(fechas[0]);
                                $("#fecha_realizada").val(fechas[1]);
                            } else if (i == 6) {
                                $(".dPregunta" + (i + 1)).val(respuestas[i].detalles);
                            } else if (i ==5) {
                                var fechas = respuestas[i].detalles.split("|");
                                $("#fechaRecoleccion").val(fechas[0]);
                                $("#fechaEntrega").val(fechas[1]);
                            }
                            $("#diviPregunta" + (i + 1)).css('display', 'block');
                        }

                    }
                    else if (tipoPregunta == "date") {
                        $('.pregunta' + respuestas[i].pregunta).val(respuestas[i].detalles);
                    }
                }
            /***************************** FIN Editar Cuestionario ***************************************/
            /******************************* Cambio de Respuestas *****************************************/
                $('.pregunta2').change(function () {
                    let tf = $(this).val();
                    let pr = $(this).data('pregunta');
                    $("#fecha_programada").val('');
                    $("#fecha_realizada").val('');
                    $('#diviPregunta2').css('display', 'block');
                });

                $('.pregunta3').change(function () {
                    let tf = $(this).val();
                    let pr = $(this).data('pregunta');
                    if (tf == "true") {
                        axios.get('/analisis/incidencias/' + model.id + '/'+pr).then(response => {
                            if (response.data != "") {
                                Swal.fire({
                                    'icon': 'warning',
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': '<strong>Advertencia:</strong><p>Tienes incidencias capturadas en esta pregunta, al cambiar la respuesta de "NO" a "SI" ' +
                                        '<strong>se borrarán todas las incidencias. ¿Deseas continuar? </strong></p>',
                                    'confirmButtonColor': '#3085d6',
                                    'cancelButtonColor': '#d33',
                                    'confirmButtonText': 'Si, continuar',
                                    'cancelButtonText': 'Cancelar',
                                    'showCancelButton': true
                                }).then(p => {
                                    if (p.isConfirmed) {
                                        Swal.fire({
                                            'icon': 'warning',
                                            'title': 'Servicio de Análisis Microbiológicos',
                                            'text': 'Escriba la palabra ELIMINAR en mayúsculas para confirmar el cambio de respuesta.',
                                            'confirmButtonColor': '#3085d6',
                                            'cancelButtonColor': '#d33',
                                            'confirmButtonText': 'Si, eliminar todo',
                                            'cancelButtonText': 'Cancelar',
                                            'showCancelButton': true,
                                            'input': 'text',
                                            'inputPlaceholder': 'Escribe la palabra ELIMINAR'
                                        }).then(res => {
                                            if (res.value == 'ELIMINAR') {
                                                axios.get("/analisis/eliminaIncidencias/" + model.id + "/"+pr).then(response => {
                                                    if (response.status == 200) {
                                                        Swal.fire({
                                                            'icon': 'success',
                                                            'title': 'Servicio de Análisis Microbiológicos',
                                                            'html': 'Las incidencias fueron eliminadas con éxito.',
                                                        }).then(function () {
                                                            $('#diviPregunta3').css('display', 'none');
                                                            $('input:radio[name="pregunta3"][value="true"]').prop('checked', true);
                                                            guardaCedula();
                                                        });
                                                    }
                                                }).catch(error => {
                                                    Swal.fire({
                                                        'icon': 'error',
                                                        'title': 'Servicio de Análisis Microbiológicos',
                                                        'html': 'No se pudieron eliminar las incidencias del servicio de Análisis Microbiológicos. Contacta a tu Administrador.',
                                                    });
                                                    $('input:radio[name="pregunta3"][value="false"]').prop('checked', true);
                                                    $('#diviPregunta3').css('display', 'block');
                                                });
                                            } else {
                                                $('input:radio[name="pregunta3"][value="false"]').prop('checked', true);
                                                $('#diviPregunta3').css('display', 'block');
                                            }
                                        });
                                    } else {
                                        $('input:radio[name="pregunta3"][value="false"]').prop('checked', true);
                                        $('#diviPregunta3').css('display', 'block');
                                    }
                                });
                            }
                        });
                    } else {
                        $('#diviPregunta3').css('display', 'block');
                    }
                });

                $('.pregunta5').change(function () {
                    let tf = $(this).val();
                    let pr = $(this).data('pregunta');
                    if (tf == "true") {
                        $('#diviPregunta5').css('display', 'none');
                        $('.dPregunta5').val('');
                    } else {
                        $('#diviPregunta5').css('display', 'block');
                    }
                });

                $('.pregunta6').change(function () {
                    $("#fechaRecoleccion").val('');
                    $("#fechaEntrega    ").val('');
                    $('#diviPregunta6').css('display', 'block');
                });

                $('.pregunta7').change(function () {
                    let tf = $(this).val();
                    let pr = $(this).data('pregunta');
                    $('.dPregunta7').val('');
                    $('#diviPregunta7').css('display', 'block');
                });


            /******************************* FIN Cambio de Respuestas ************************************/

            /******************************* Incidencias Fumigación ***************************************/
                function muestraInputs(pregunta) {
                    $('#divCategoria').css('display', 'none');
                    $('#divFechaIncidencia').css('display', 'none');
                    $('#divHoraIncidencia').css('display', 'none');
                    $('#divInciComentarios').css('display', 'none');
                    $('#error_fechaIncidencia').css('display', 'none');
                    $('#error_horaIncidencia').css('display', 'none');
                    $('#error_inciComentarios').css('display', 'none');

                    if (pregunta == 2) {
                        $("#categoria").val('Horario y Ruta Estipulado');
                        $('#divFechaIncidencia').css('display', 'block');
                        $('#divHoraIncidencia').css('display', 'block');
                        $('#divInciComentarios').css('display', 'block');
                    } else if (pregunta == 5) {
                        $("#categoria").val('Comunicación en la Unidad');
                        $('#divFechaIncidencia').css('display', 'block');
                        $('#divInciComentarios').css('display', 'block');
                    } else if (pregunta == 6) {
                        $("#categoria").val('Personal de Servicio');
                        $('#divFechaIncidencia').css('display', 'block');
                        $('#divInciComentarios').css('display', 'block');
                    }
                }

                $(".addIncidencias").click(function () {
                    $('#idIncidencia').val('');
                    $('#pregunta').val('');
                    $('#fechaIncidencia').val('');
                    $('#inciComentarios').val('');
                    $("#pregunta").val($(this).data('pregunta')+"");
                    $("#id_incidencia").val("");
                    $("#modal-incidencias").modal('show');
                });

                $(".viewIncidencias").click(function () {
                    let pregunta = $(this).data('pregunta');

                    axios.get('/analisis/tablaIncidencias/' + model.id + '/' + pregunta).then(table => {
                        $("#tbl_incidencias").html(table.data);
                    }).catch(error => {
                        Swal.fire({
                            'icon': 'error',
                            'title': 'Servicio de Análisis Microbiológicos',
                            'html': 'Hubo un error al obtener el listado de incidencias. Contacte a su administrador del sistema.'
                        });
                    });
                    $("#modal-consultaIncidencias").modal('show');
                });

                $('#fechaIncidencia').change(function () {
                    if ($(this).val() == '') {
                        $('#fechaIncidencia').removeClass('is-valid');
                        $('#fechaIncidencia').addClass('is-invalid');
                        $('#error_fechaIncidencia').css('display', 'block');
                    }else{
                        $('#fechaIncidencia').removeClass('is-invalid');
                        $('#fechaIncidencia').addClass('is-valid');
                        $('#error_fechaIncidencia').css('display', 'none');
                    }
                });

                $('#inciComentarios').change(function () {
                    if ($(this).val() == '') {
                        $('#inciComentarios').removeClass('is-valid');
                        $('#inciComentarios').addClass('is-invalid');
                        $('#error_inciComentarios').css('display', 'block');
                    }else{
                        $('#inciComentarios').removeClass('is-invalid');
                        $('#inciComentarios').addClass('is-valid');
                        $('#error_inciComentarios').css('display', 'none');
                    }
                });

                function validaIncidencias() {
                    let tipo = $('#categoria').val();
                    let fechaIncidencia = $('#fechaIncidencia').val();
                    let comentarios = $('#inciComentarios').val();

                    if (fechaIncidencia == '') {
                        $('#fechaIncidencia').addClass('is-invalid');
                        $('#error_fechaIncidencia').css('display', 'block');
                    }

                    if (comentarios == '') {
                        $('#inciComentarios').addClass('is-invalid');
                        $('#error_inciComentarios').css('display', 'block');
                    }

                    if (fechaIncidencia != '' && comentarios != '') {
                        return true;
                    }

                    return false;
                }

                $('#guardaIncidencia').click(function () {
                    let html = "";
                    let id = $('#idIncidencia').val();
                    let tipo = $('#tipo_incidencia').val();
                    let pregunta = $('#pregunta').val() != "" ? $('#pregunta').val(): 0;
                    let fechaIncidencia= $('#fechaIncidencia').val();
                    let comentarios = $('#inciComentarios').val();

                    if (id == "" || id == null) {
                        id = 0;
                    }

                    if (validaIncidencias()) {
                        if (id == 0) {
                            axios.post("/analisis/inserta/incidencia", {
                                Id: parseInt(id), CedulaAnalisisId: parseInt(model.id), Tipo: tipo, Pregunta: parseInt(pregunta),
                                FechaIncidencia: fechaIncidencia, Comentarios: comentarios
                            }).then(response => {
                                if (response.status == 200) {
                                    Swal.fire({
                                        'icon': "success",
                                        'title': 'Servicio de Análisis Microbiológicos',
                                        'html': "La incidencia fue registrada de forma correcta."
                                    });
                                    guardaCedula();
                                }
                            }).catch(error => {
                                Swal.fire({
                                    'icon': "error",
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': "Hubo un error al registrar la incidencia. Contacte a su administrador del sistema."
                                });
                            });
                        } else {
                            axios.post("/analisis/actualiza/incidencia", { Id: parseInt(id), Tipo: tipo, FechaIncidencia: fechaIncidencia, Comentarios: comentarios
                            }).then(response => {
                                if (response.status == 200) {
                                    Swal.fire({
                                        'icon': "success",
                                        'title': 'Servicio de Análisis Microbiológicos',
                                        'html': "La incidencia fue actualizada de forma correcta."
                                    });
                                    guardaCedula();
                                }
                            }).catch(error => {
                                Swal.fire({
                                    'icon': "error",
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': "Hubo un error al actualizar la incidencia. Contacte a su administrador del sistema."
                                });
                            });
                        }
                        $('#id_incidencia').val('');
                        $('#tipo_incidencia').val('');
                        $('#pregunta').val('');
                        $('#fechaIncidencia').val('');
                        $('#inciComentarios').val('');
                        $('#inciComentarios').removeClass('is-valid');
                        $('#inciComentarios').removeClass('is-invalid');
                        $('#fechaIncidencia').removeClass('is-invalid');
                        $('#fechaIncidencia').removeClass('is-valid');
                    }
                });

                $(document).on("click", ".update_incidencia", function () {
                    $('#idIncidencia').val('');
                    $('#tipo_incidencia').val('');
                    $('#pregunta').val('');
                    $('#fechaIncidencia').val('');
                    $('#inciComentarios').val('');

                    $('#divFechaIncidencia').css('display', 'none');
                    $('#divInciComentarios').css('display', 'none');
                    $('#error_fechaIncidencia').css('display', 'none');
                    $('#error_inciComentarios').css('display', 'none');
                    $("#modal-consultaIncidencias").modal('hide');
                    let tipo = $(this).data('tipo');
                    let fecha = $(this).data('fechainci');
                    let coments = $(this).data('coment');
                    $("#idIncidencia").val($(this).data('id'));
                    $("#tipo_incidencia").val(tipo);
                    $('#fechaIncidencia').val(fecha);
                    $('#inciComentarios').val(coments);


                    $("#modal-incidencias").modal('show');
                });

                $(document).on("click", ".delete_incidencia", function(){
                    var id = $(this).data("id");

                    Swal.fire({
                            'icon': 'warning',
                            'title': 'Servicio de Análisis Microbiológicos',
                            'html': '¿Está seguro de eliminar la incidencia?',
                            'confirmButtonColor': '#3085d6',
                            'cancelButtonColor': '#d33',
                            'confirmButtonText': 'Si, eliminar incidencia',
                            'cancelButtonText': 'Cancelar',
                            'showCancelButton': true
                        }).then(response => {
                            if (response.isConfirmed) {
                                axios.get("/analisis/incidencia/eliminar/"+id).then(response => {
                                    if (response.status == 200) {
                                        Swal.fire(
                                            'Servicio de Analisis de Personal',
                                            'La incidencia fue eliminada con éxito.',
                                            'success'
                                        ).then(function () {
                                            window.location.reload();
                                        });
                                    }
                                }).catch(error => {
                                    Swal.fire(
                                        'Servicio de Analisis de Personal',
                                        'No se pudo eliminar la incidencia del servicio de fumigación. Contacta a tu Administrador.',
                                        'error'
                                    );
                                });
                            }
                        });

                });
            /******************************* FIN Incidencias Fumigación **********************************/

            /************************************ Adjuntar Entregables ************************************/
                  /*Modal para Adjuntar Archivos*/
                    $('.btn_addFile').click(function () {
                        $('#modal_evidencias').modal('show');
                    });
                /*FIN del modal para adjuntar archivos*/

                /*Adjunta Entregables*/
                    function validaCamposArchivo() {

                        if ($('#tipo_entregable').val() == "" && $('#customFile').val() == "") {
                            $('#tipo_entregable').addClass('is-invalid');
                            $('#error_tipoEntre').css('display', 'block');

                            $('#customFile').addClass('is-invalid');
                            $('#error_customFile').css('display', 'block');

                            return false;
                        }

                        if ($('#tipo_entregable').val() == "" ) {
                            $('#tipo_entregable').addClass('is-invalid');
                            $('#error_tipoEntre').css('display', 'block');

                            return false;
                        }

                        if ($('#customFile').val() == "") {

                            $('#customFile').addClass('is-invalid');
                            $('#error_customFile').css('display', 'block');

                            return false;
                        }

                        return true;
                }

                    $("#customFile").on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        var ext = fileName.split('.').pop();
                        if (ext == "pdf") {
                            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                        } else {
                            Swal.fire({
                                'icon': 'error',
                                'title': 'Servicio de Análisis Microbiológicos',
                                'text': 'El archivo que intentas adjuntar no es válido. Favor de solo seleccionar archivos "PDF"'
                            });
                            $(".custom-file-label").text("Seleccionar Archivo");
                            document.getElementById('customFile').value = '';
                            if ($('#customFile').hasClass('is-valid')) {
                                $('#customFile').removeClass('is-valid');
                            }
                            $('#customFile').addClass('is-invalid');
                            $('#error_customFile').css('display', 'block');
                        }

                    });

                    $('#adjuntarArchivo').click(function () {
                        var formData = new FormData();
                        var folio = model.folio;
                        var file = document.getElementById('customFile').files[0];
                        var id = $('#file_id').val();
                        var tipo = $('#tipo_entregable').val();
                        var comentarios = $('#comentarios_entregable').val();

                        if (id.length > 0) {
                            id = parseInt(id);
                        } else {
                            id = 0;
                        }

                        formData.append("Id", id);
                        formData.append("CedulaAnalisisId", model.id);
                        formData.append("Archivo", file);
                        formData.append("Folio", folio);
                        formData.append("Tipo", tipo);
                        formData.append("Comentarios", comentarios);

                        if (validaCamposArchivo()) {
                            if (id != 0) {
                                axios.post('/analisis/adjuntaEntregable', formData, {
                                    headers: { 'Content-Type': 'multipart/form-data' }

                                }).then(response => {
                                    $('#cerrar_modal_sua').trigger('click');
                                    /*Validamos la pregunta a la que se realizo el anexo de evidencia*/
                                    if (response.status == 200) {
                                        Swal.fire({
                                            'icon': "success",
                                            'title': 'Servicio de Análisis Microbiológicos',
                                            'text': 'Se adjuntó el archivo de forma correcta.'
                                        });
                                        $('#customFile').removeClass('is-valid');
                                        $('#comentarios_entregable').removeClass('is-valid');
                                        $('#tipo_entregable').removeClass('is-valid');
                                    }
                                    axios.get("/analisis/getEntregables/" + model.id).then(success => {
                                        if (success.data == null || success.data == "") {
                                            $('#tEntregables').html(success.data);
                                        }
                                        $('#tEntregables').html(success.data);
                                    });
                                }).catch(error => {
                                    Swal.fire({
                                        'icon': "error",
                                        'title': 'Servicio de Análisis Microbiológicos',
                                        'text': 'Se presento un error al intentar adjuntar el archivo.'
                                    });
                                });

                                document.getElementById('customFile').value = '';
                                $('#file_id').val("");
                                $(".custom-file-label").text("Seleccionar Archivo");
                                $('#tipo_entregable').val('');
                                $('#comentarios_entregable').val('');
                            } else {
                                axios.get('/analisis/buscaEntregable/' + model.id + '/' + tipo).then(exist => {
                                    if (exist.data == 0) {
                                        axios.post('/analisis/adjuntaEntregable', formData, {
                                            headers: { 'Content-Type': 'multipart/form-data' }

                                        }).then(response => {
                                            $('#cerrar_modal_sua').trigger('click');
                                            /*Validamos la pregunta a la que se realizo el anexo de evidencia*/
                                            if (response.status == 200) {
                                                Swal.fire({
                                                    'icon': "success",
                                                    'title': 'Servicio de Análisis Microbiológicos',
                                                    'text': 'Se adjuntó el archivo de forma correcta.'
                                                });
                                                $('#customFile').removeClass('is-valid');
                                                $('#comentarios_entregable').removeClass('is-valid');
                                                $('#tipo_entregable').removeClass('is-valid');
                                            }
                                            axios.get("/analisis/getEntregables/" + model.id).then(success => {
                                                if (success.data == null || success.data == "") {
                                                    $('#tEntregables').html(success.data);
                                                }
                                                $('#tEntregables').html(success.data);
                                            });
                                        }).catch(error => {
                                            Swal.fire({
                                                'icon': "error",
                                                'title': 'Servicio de Análisis Microbiológicos',
                                                'text': 'Se presento un error al intentar adjuntar el archivo.'
                                            });
                                        });

                                        document.getElementById('customFile').value = '';
                                        $('#file_id').val("");
                                        $(".custom-file-label").text("Seleccionar Archivo");
                                        $('#tipo_entregable').val('');
                                        $('#comentarios_entregable').val('');
                                    } else {
                                        Swal.fire({
                                            'icon': "error",
                                            'title': 'Servicio de Análisis Microbiológicos',
                                            'text': 'Ya existe un mismo entregable con el tipo ' + tipo
                                        });
                                    }
                                }).catch(e => {
                                    Swal.fire({
                                        'icon': "error",
                                        'title': 'Servicio de Análisis Microbiológicos',
                                        'text': 'Ocurrío un error al válidar el entregable.'
                                    });
                                });
                            }
                        }
                    });

                /*FIN Adjunta Entregables*/

                /* Listado de Entregables de la Cedula */
                    axios.get("/analisis/getEntregables/"+model.id).then(response => {
                        if (response.data == null || response.data == "") {
                            $('#tEntregables').html(response.data);
                        }
                        $('#tEntregables').html(response.data);
                    });
                /* Fin Listado de Entregables de la Cedula*/

                /*Editar Entregables*/
                    $(document).on("click", ".update_files", function () {
                        $('#modal_evidencias').modal('show');
                        var id = $(this).data('id');
                        var tipo = $(this).data('tipo');
                        var coments = $(this).data('coments');
                        var file = $(this).data('file');
                        $('#file_id').val(parseInt(id));
                        $(".custom-file-label").text(file);
                        $('#tipo_entregable').val(tipo);
                        $('#comentarios_entregable').val(coments);
                        $('#mes_correspondiente').prop('disabled', true);
                        $('#modal_evidencias').modal('show');
                    });
                /*FIN de editar Entregables*/

                /*Elimina entregables*/
                   $(document).on("click", ".delete_files", function () {
                        let id = $(this).data('id');
                        let tipo = $(this).data('tipo');
                        Swal.fire({
                            'icon': 'warning',
                            'title': 'Servicio de Análisis Microbiológicos',
                            'text': '¿Está seguro de eliminar el archivo relacionado a "'+tipo+'"?',
                            'confirmButtonColor': '#3085d6',
                            'cancelButtonColor': '#d33',
                            'confirmButtonText': 'Si, Eliminar Archivo',
                            'cancelButtonText': 'Cancelar',
                            'showCancelButton': true
                        }).then(response => {
                            if (response.isConfirmed) {
                                axios.post("/analisis/eliminaArchivo", { Id: id, Folio: model.folio }).then(response => {
                                    if (response.status == 200) {
                                        Swal.fire(
                                            'Servicio de Analisis de Personal',
                                            'Tu archivo fue eliminado con éxito.',
                                            'success'
                                        );
                                        axios.get("/analisis/getEntregables/" + model.id).then(response => {
                                            if (response.data == null || response.data == "") {
                                                $('#tEntregables').html(response.data);
                                            }
                                            $('#tEntregables').html(response.data);
                                        });
                                    }
                                }).catch(error => {
                                    Swal.fire(
                                        'Servicio de Analisis de Personal',
                                        'No se pudo procesar tu solicitud. Contacta a tu Administrador.',
                                        'error'
                                    );
                                });
                            }
                        });
                    });
                 /*FIN de elimina entregables*/

                /*Ver archivo en modal (REVISAR PARA AJUSTAR)*/
                    $(document).on('click', '.view_file', function () {
                        let nombre = $(this).data('file');
                        let tipo = $(this).data('tipo');
                        let url = '<object class="objectPdf" width="100%" height="450" embedded=True data="' + '/cedLimpieza/verArchivo/' + model.folio + '/' + nombre + '"></object>';
                        $('#titlePDF').text("PDF - \"" + tipo + "\"");
                        $('#entregablePDF').html(url);
                        $('#modal_pdf').modal('show');
                    });
                /*FIN de ver archivo en modal*/

                /*Validaciones Entregables*/
                    $('#tipo_entregable').change(function () {
                        if ($('#tipo_entregable').val() == "") {
                            $('#tipo_entregable').addClass('is-invalid');
                            $('#error_tipoEntre').css('display', 'block');

                            return false;
                        } else {
                            $('#tipo_entregable').removeClass('is-invalid');
                            $('#tipo_entregable').addClass('is-valid');
                            $('#error_tipoEntre').css('display', 'none');
                        }
                    });

                    $('#customFile').change(function () {
                         if ($('#customFile').val() == "") {
                             $('#customFile').addClass('is-invalid');
                             $('#error_customFile').css('display', 'block');

                        } else {
                             var fileName = $("#customFile").val().split("\\").pop();
                             var ext = fileName.split('.').pop();
                             if (ext != "pdf") {
                                 $('#customFile').addClass('is-invalid');
                                 $('#error_customFile').css('display', 'block');
                             } else {
                                 $('#customFile').removeClass('is-invalid');
                                 $('#customFile').addClass('is-valid');
                                 $('#error_customFile').css('display', 'none');
                             }
                        }
                     });

                    $('#comentarios_entregable').change(function () {
                        if ($('#comentarios_entregable').val() == "") {
                            $('#comentarios_entregable').addClass('is-invalid');
                            $('#error_comentariosEntre').css('display', 'block');

                            return false;
                        } else {
                            $('#comentarios_entregable').removeClass('is-invalid');
                            $('#comentarios_entregable').addClass('is-valid');
                            $('#error_comentariosEntre').css('display', 'none');
                        }
                    });
                /*FIN de Validaciones Entregables*/
            /********************************** FIN Adjuntar Entregables *********************************/

            /********************************** Funciones Adicionales *********************************/
            function cuentaincidenciasAnalisis(pregunta) {
                    var isContinue = true;
                    $.ajax({
                        url: '/analisis/totalIncidencia/' + model.id + '/' + pregunta,
                        type: 'GET',
                        async: false,
                        success: function (json) {
                            json == 0 ? isContinue = false : true;
                        },
                    });
                    return isContinue;
                }
            /********************************** FIN Funciones Asincronas*********************************/

            /************************************ GUARDAR/ENVIAR Cédula ************************************/
                /*Guardar la Cedula*/
                    $('.btn_guardar').click(function () {
                        var respuestas = new Array();
                        for (let i = 0; i < 7; i++) {
                            let type = document.getElementsByClassName("pregunta" + (i + 1))[0];
                            let respuesta = $("input[name=pregunta" + (i + 1) + "]:checked").val();
                            if (i == 0 && type.getAttribute("type") == "date" && $(".pregunta" + (i + 1)).val() != '') {
                                respuestas.push({ CedulaEvaluacionId: parseInt(model.id), Pregunta: (i + 1), Respuesta: "true", Detalles: $(".pregunta" + (i + 1)).val() + "" });
                            } else if (respuesta != null) {
                                if (i == 1) {
                                    respuestas.push({ CedulaEvaluacionId: parseInt(model.id), Pregunta: (i + 1), Respuesta: (respuesta == "true"), Detalles: $("#fecha_programada").val() + "|" + $("#fecha_realizada").val() });
                                } else if (i == 5) {
                                    respuestas.push({ CedulaEvaluacionId: parseInt(model.id), Pregunta: (i + 1), Respuesta: (respuesta == "true"), Detalles: $("#fechaRecoleccion").val() + "|" + $("#fechaEntrega").val() });
                                }else if (i == 6 || i == 4) {
                                    respuestas.push({ CedulaEvaluacionId: parseInt(model.id), Pregunta: (i + 1), Respuesta: (respuesta == "true"), Detalles: $(".dPregunta" + (i + 1)).val() });
                                } else {
                                    respuestas.push({ CedulaEvaluacionId: parseInt(model.id), Pregunta: (i + 1), Respuesta: (respuesta == "true"), Detalles: null });
                                }
                            }
                        }

                        axios.post("/analisis/evaluation", respuestas).then(response => {
                            if (response.status == 200) {
                                Swal.fire({
                                    'icon': "success",
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': "Se guardaron las respuestas de la cédula correctamente."
                                });
                            } else {
                                Swal.fire({
                                    'icon': "error",
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': "Hubo un error al guardar la(s) respuesta(s) de la cédula. Contacte al Administrador del Sistema"
                                 });
                            }
                        });
                    });
                /*FIN de guardar la cedula*/

                /*Guardar la Cedula sin mensaje*/
                function guardaCedula() {
                    var respuestas = new Array();
                    for (let i = 0; i < 7; i++) {
                        let type = document.getElementsByClassName("pregunta" + (i + 1))[0];
                        let respuesta = $("input[name=pregunta" + (i + 1) + "]:checked").val();
                        if (i == 0 && type.getAttribute("type") == "date" && $(".pregunta" + (i + 1)).val() != '') {
                            respuestas.push({ CedulaEvaluacionId: parseInt(model.id), Pregunta: (i + 1), Respuesta: "true", Detalles: $(".pregunta" + (i + 1)).val() + "" });
                        } else if (respuesta != null) {
                            if (i == 1) {
                                respuestas.push({ CedulaEvaluacionId: parseInt(model.id), Pregunta: (i + 1), Respuesta: (respuesta == "true"), Detalles: $("#fecha_programada").val() + "|" + $("#fecha_realizada").val() });
                            } else if (i == 5) {
                                respuestas.push({ CedulaEvaluacionId: parseInt(model.id), Pregunta: (i + 1), Respuesta: (respuesta == "true"), Detalles: $("#fechaRecoleccion").val() + "|" + $("#fechaEntrega").val() });
                            } else if (i == 6 || i == 4) {
                                respuestas.push({ CedulaEvaluacionId: parseInt(model.id), Pregunta: (i + 1), Respuesta: (respuesta == "true"), Detalles: $(".dPregunta" + (i + 1)).val() });
                            } else {
                                respuestas.push({ CedulaEvaluacionId: parseInt(model.id), Pregunta: (i + 1), Respuesta: (respuesta == "true"), Detalles: null });
                            }
                        }
                    }

                    axios.post("/analisis/evaluation", respuestas).then(response => {
                        if (response.status == 200) {

                        } else {
                            Swal.fire({
                                'icon': "error",
                                'title': 'Servicio de Análisis Microbiológicos',
                                'html': "Hubo un error al guardar las respuestas de la cédula. Contacte al Administrador del Sistema"
                            });
                        }
                    });
                }
                /*FIN de guardar la cedula*/

                /*Validamos que ya fueron adjuntados todos los entregables*/
                function validaEntregables() {
                    var msgEntregables = ["Acta Entrega-Recepción", "Factura", "Validación del SAT"];
                    var entregables = ["ActaER", "Factura", "SAT"];
                    var msg = "";
                    var nota = false;
                    var found = false;
                    axios.get('/analisis/getListadoEntregables/' + model.id).then(response => {
                        for (var j = 0; j < entregables.length; j++) {
                            for (var i = 0; i < response.data.length; i++) {
                                if (entregables[j] == response.data[i].tipo) {
                                    found = true;
                                    break;
                                } else {
                                    found = false;
                                }
                            }
                            if (!found) {
                                msg += "<strong> - "+msgEntregables[j]+"<br/></strong>";
                            }
                        }

                        if (msg != "") {
                            Swal.fire({
                                'icon': 'error',
                                'title': 'Servicio de Análisis Microbiológicos',
                                'html': 'Para enviar la cédula a la DAS, es necesario adjuntar los siguientes entregables: <br/><br/>' + msg
                            });
                            return false;
                        } else {
                            axios.post("/analisis/sendCedula/" + model.servicioId + "/" + model.id).then(response => {
                                if (response.status == 200) {
                                    Swal.fire({
                                        'icon': "success",
                                        'title': 'Servicio de Análisis Microbiológicos',
                                        'html': "Se envió la cédula para su revisión correctamente."
                                    }).then(function () {
                                        window.location.href = "/analisis/index";
                                    });
                                } else {
                                    Swal.fire({
                                        'icon': "error",
                                        'title': 'Servicio de Análisis Microbiológicos',
                                        'html': "Hubo un error al guardar las respuestas de la cédula. Contacte al Administrador del Sistema"
                                    });
                                }
                            });
                        }
                    });
                }

             /*FIN Validamos que ya fueron adjuntados todos los entregables*/

                /********************************** Funciones Adicionales *********************************/
                    function cuentaincidenciasAnalisis(pregunta) {
                        var isContinue = true;
                        $.ajax({
                            url: '/analisis/totalIncidencia/' + model.id + '/' + pregunta,
                            type: 'GET',
                            async: false,
                            success: function (json) {
                                json == 0 ? isContinue = false : true;
                            },
                        });
                        return isContinue;
                    }

                /********************************** FIN Funciones Asincronas*********************************/

                /*Enviar la Cedula*/
            $('.btn_enviar').click(function () {
                        var isContinue = true;
                        let i = 0;
                        var respuesta = null;
                        if (model.facturas.length == 0) {
                            Swal.fire({
                                'icon': 'error',
                                'title': 'Servicio de Análisis Microbiológicos',
                                'html': 'No ha registrado ninguna factura en la cédula'
                            });
                            return false;
                        }

                        guardaCedula();

                        for (i = 0; i < 7; i++) {
                            isContinue == true;
                            respuesta = $('input:radio[name="pregunta' + (i + 1) + '"]:checked').val();
                            if (respuesta != "" && i != 0) {
                                if (i == 1 && ($("#fecha_programada").val() == "" || $("#fecha_realizada").val() == "")) {
                                    isContinue = false;
                                    break;
                                } else if (i == 2 && respuesta == "false") {
                                    isContinue = cuentaincidenciasAnalisis(3);
                                    if (isContinue == false) {
                                        break;
                                    }
                                } else if (i == 4 && $(".dPregunta" + (i + 1)).val() == "" && respuesta == "false") {
                                    isContinue = false;
                                    break;
                                } else if (i == 5 && ($("#fechaRecoleccion").val() == "" || $("#fechaEntrega").val() == "")) {
                                    isContinue = false;
                                    break;
                                } else if (i == 6 && $(".dPregunta" + (i + 1)).val() == "") {
                                    isContinue = false;
                                    break;
                                }
                            } else if (i == 0 && $(".pregunta" + (i + 1)).val() == '') {
                                isContinue = false;
                                break;
                            }
                        }

                        if (i == 0 && $(".pregunta" + (i + 1)).val() == '' && isContinue == false) {
                            Swal.fire({
                                'icon': 'error',
                                'title': 'Servicio de Análisis Microbiológicos',
                                'html': 'No ha capturado la fecha de cierre en la <strong>Pregunta ' + (i + 1) + '</strong>'
                            });
                        } else if (i != 0 && isContinue == false) {
                            if (i != 0 && (respuesta == "" || respuesta == null)) {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': 'No ha capturado la <strong>Pregunta ' + (i + 1) + '</strong>'
                                });
                                return false;
                            } else if (i == 1) {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': 'No ha capturado la fecha programada y/o la fecha realizada en la <strong>Pregunta ' + (i + 1) + '</strong>'
                                });
                            } else if (i == 2) {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': 'No ha capturado incidencias en la <strong>Pregunta ' + (i + 1) + '</strong>'
                                });
                            } else if (i == 4 && respuesta == "false") {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': 'No ha capturado el número de muestras en la <strong>Pregunta ' + (i + 1) + '</strong>'
                                });
                            } else if (i == 5) {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': 'No ha capturado la fecha de recolección y/o la fecha de entrega de resultados en la <strong>Pregunta ' + (i + 1) + '</strong>'
                                });
                            } else if (i == 6) {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Servicio de Análisis Microbiológicos',
                                    'html': 'No ha capturado la fecha de entrega del reporte de servicio en la <strong>Pregunta ' + (i + 1) + '</strong>'
                                });
                            }
                        } else {
                          validaEntregables();
                        }

                    });
                /*Enviar de guardar la cedula*/

            /********************************** FIN GUARDAR/ENVIAR CÉDULA **********************************/
        });
    </script>
}