@model CedulasEvaluacion.Entities.Models.Inmueble;
@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var success = ViewData["Success"];
    var error = ViewData["Error"];
    ViewData["Title"] = "Editar " + " \" " + Model.Nombre + " \" ";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-joke text-white">
                <h4>Datos a editar</h4>
            </div>
            <div class="card-body">
                <div class="row col-lg-12">
                    <input type="hidden" class="form-control" id="inmuebleId" value="@Model.Id" />
                    @if (Model.Tipo != 1) {
                        <div class="col-lg-4">
                            <label for="">Administración:</label>
                            <select class="form-control select2bs4" id="selectAdmins" value="@Model.AdministracionId"></select>
                        </div>
                    }
                    <div class="col-lg-3">
                        <label for="">Clave del inmueble:</label>
                        <input type="number" class="form-control" id="cveInmueble" value="@Model.Clave" />
                    </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-12 mt-3">
                        <label for="">Nombre del inmueble:</label>
                        <input type="text" class="form-control" id="nombreInmueble" value="@Model.Nombre" />
                    </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-12 mt-3">
                        <label for="">Dirección del inmueble:</label>
                        <textarea class="form-control" id="direccionInmueble">@Model.Direccion</textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-lg-12">
                    <a href="/inmuebles/administraciones" class="btn btn-danger float-right">Cancelar</a>
                    <button type="submit" class="btn btn-primary float-right mr-3" id="btn_actualizar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            var model = @Html.Raw(Json.Serialize(@Model));
            var success = @Html.Raw(Json.Serialize(@success));
            var error = @Html.Raw(Json.Serialize(@error));

            /*Mensajes de Error/Completado*/
            $('#btn_actualizar').click(function () {
                return false;
                axios.post('/inmuebles/actualizarInmueble').then(response => {
                        Swal.fire({
                            'icon': 'success',
                            'title': 'Actualizar Inmueble',
                            'text': success
                        }).then(function () {
                            window.location.href = '/inmuebles/detalleAdministracion/' +1;
                        });
                }).catch (error=> {
                    Swal.fire({
                        'icon': 'error',
                        'title': 'Actualizar Inmueble',
                        'text': error
                    });
                });
            });
            
            /*FIN Mensajes de Error/Completado*/
            //Inicializamos el buscador en los combobox
                $('.select2').select2()

            //Inicializamos el tema de bootstrap para el buscador en los combobox
                $('.select2bs4').select2({
            theme: 'bootstrap4'
                });

            @*Llenamos la Lista desplegable con los Tipo de Incidencia*@
            axios.get("/inmuebles/getAdministraciones").then(response => {
                    var tipos = "<option value=''>Seleccione una admninistración</option>";
                    for (let i = 0; i < response.data.length; i++) {
                        tipos += "<option value='" + response.data[i].id + "'>" + response.data[i].nombre + "</option>";
                    }
                    $("#selectAdmins").html(tipos);
                    $('#selectAdmins option[value=' + model.administracionId + ']').attr('selected', 'selected');
                });
            @*Fin Llenamos la Lista desplegable con los Tipo de Incidencia*@
        });
    </script>
}