@model CedulasEvaluacion.Entities.MCedula.CedulaEvaluacion;
@{
    ViewData["Title"] = "Seguimiento a la Cédula del Servicio de RPBI con Folio: " + Model.Folio;
}

<div class="row col-lg-12">
    <div class="col-lg-12">
        @if (@Model.facturas.Count != 0)
        {
            <a href="/documents/actaRPBI/@Model.Id" class='btn-sm btn-primary float-right mr-2 mb-3' data-toggle="tooltip" title="Generar Acta ER" data-placement="top">
                <i class="fal fa-calendar-alt"></i>
            </a>
        }
        <a href="/residuos/index/@Model.ServicioId" type='button' class='btn-sm btn-warning float-right mr-2 mb-3 btn_back'><i class="fal fa-arrow-left"></i></a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs h6" id="myTab" role="tablist">
            @{int i = 0;}
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#informacion_general" role="tab" aria-controls="home" aria-selected="true">Información General</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#entregables_cedula" role="tab" aria-controls="contact" aria-selected="false">Entregables</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#historial_cedula" role="tab" aria-controls="contact" aria-selected="false">Historial de Cambios</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#historial_entregables" role="tab" aria-controls="contact" aria-selected="false">Historial de Entregables</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            @{ bool estatus = false; }
            @{ bool rechazat = false; }
            @{ bool cedula = false; }
            @{ bool memo = false; }
            @{ bool omemo = false; }
            <div class="tab-pane fade show active" id="informacion_general" role="tabpanel" aria-labelledby="home-tab">
                <div class="row justify-content-center align-items-center mt-4">
                    <div class="col-lg-12 h3 ml-4">
                        Información General
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-3">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header border-bottom-0">
                                <h2 class="lead"><b>Inmueble Evaluado: </b> @Model.inmuebles.Nombre</h2>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead">
                                            <strong>
                                                Factura Capturadas:
                                            </strong>
                                            <a href="#" id="btn_facturas" class='btn btn-sm btn-facturas ml-2 mb-1' data-toggle="tooltip" title="Ver Facturas" data-placement="top">
                                                <i class="fal fa-file-invoice"></i>
                                            </a>
                                        </h2>
                                        <p class="text-sm">Evaluación correspondiente al mes <b>@Model.Mes</b> del año <b>@Model.Anio</b></p>
                                        <ul class="ml-4 mb-0 fa-ul">
                                            <li class="small mt-3"><span class="fa-li"><i class="fas fa-lg fa-dollar-sign"></i></span> <b>Facturación Total: </b>: @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:C}", Model.TotalMontoFactura)</li>
                                            <li class="small mt-3"><span class="fa-li"><i class="fad fa-star"></i></span> <b>Calificación: </b> @Model.Calificacion</li>
                                            <li class="small mt-3"><span class="fa-li"><i class="fas fa-lg fa-user"></i></span> <b>Elaboró: </b> @Model.usuarios.nombre_emp @Model.usuarios.paterno_emp @Model.usuarios.materno_emp</li>
                                            <li class="small mt-3">
                                                <span class="fa-li"><i class="fas fa-lg fa-envelope mb-1"></i></span>
                                                <strong>Correo:</strong>
                                                @if (@Model.usuarios.correo_electronico.Equals("") || @Model.usuarios.correo_electronico.Equals(null))
                                                {
                                                    <strong class="text-danger">@String.Format("Sin correo")</strong>
                                                }
                                                else
                                                {
                                                    @Model.usuarios.correo_electronico
                                                }
                                                <a href="#" id="btn_correo" class='btn-xs btn-primary ml-2' data-toggle="tooltip" title="Actualizar Correo Electrónico" data-placement="top">
                                                    <i class="fal fa-edit"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5">
                                        @if (@Model.Estatus.Equals("Enviado a DAS"))
                                        {
                                            <h5 class="text-enviadoDAS lblEstatus"><strong>Estatus: </strong> @Model.Estatus</h5>
                                        }
                                        else if (@Model.Estatus.Equals("Revisión CAE"))
                                        {
                                            <h5 class="text-primary lblEstatus"><strong>Estatus: </strong> @Model.Estatus</h5>
                                        }
                                        else if (@Model.Estatus.Equals("En Trámite"))
                                        {
                                            <h5 class="text-info lblEstatus"><strong>Estatus: </strong> @Model.Estatus</h5>
                                        }
                                        else if (@Model.Estatus.Equals("Rechazada"))
                                        {
                                            <h5 class="text-danger lblEstatus"><strong>Estatus: </strong> @Model.Estatus</h5>
                                        }
                                        else if (@Model.Estatus.Equals("Trámite Rechazado"))
                                        {
                                            <h5 class="text-tramiteRechazado lblEstatus"><strong>Estatus: </strong> @Model.Estatus</h5>
                                        }
                                        else if (@Model.Estatus.Equals("Autorizada"))
                                        {
                                            <h5 class="text-autorizado lblEstatus"><strong>Estatus: </strong> @Model.Estatus</h5>
                                        }
                                        else if (@Model.Estatus.Equals("Autorizado CAE"))
                                        {
                                            <h5 class="text-autorizadoCAE lblEstatus"><strong>Estatus: </strong> @Model.Estatus</h5>
                                        }
                                        else if (@Model.Estatus.Equals("Trámite de Pago"))
                                        {
                                            <h5 class="text-tramitePago lblEstatus"><strong>Estatus: </strong> @Model.Estatus</h5>
                                        }
                                        else if (@Model.Estatus.Equals("Enviada a DGPPT"))
                                        {
                                            <h5 class="text-dgppt lblEstatus"><strong>Estatus: </strong> @Model.Estatus</h5>
                                        }
                                        else if (@Model.Estatus.Equals("Pagada"))
                                        {
                                            <h5 class="text-success lblEstatus"><strong>Estatus: </strong> @Model.Estatus</h5>
                                        }
                                        <div class="col-lg-4" style="margin-top: -18px;">
                                            <div class="small-box">
                                                <div class="icon">
                                                    @if (@Model.Estatus.Equals("Enviado a DAS"))
                                                    {
                                                        <i class="fa-regular fa-ballot-check text-enviadoDAS"></i>
                                                    }
                                                    else if (@Model.Estatus.Equals("Revisión CAE"))
                                                    {
                                                        <i class="fa-regular fa-ballot-check text-primary"></i>
                                                    }
                                                    else if (@Model.Estatus.Equals("En Trámite"))
                                                    {
                                                        <i class="fas fa-tasks text-info"></i>
                                                    }
                                                    else if (@Model.Estatus.Equals("Rechazada"))
                                                    {
                                                        <i class="fas fa-times text-danger"></i>
                                                    }
                                                    else if (@Model.Estatus.Equals("Trámite Rechazado"))
                                                    {
                                                        <i class="fal fa-window-close text-tramiteRechazado"></i>
                                                    }
                                                    else if (@Model.Estatus.Equals("Autorizada"))
                                                    {
                                                        <i class="fas fa-check text-autorizado"></i>
                                                    }
                                                    else if (@Model.Estatus.Equals("Autorizado CAE"))
                                                    {
                                                        <i class="fas fa-check text-autorizadoCAE"></i>
                                                    }
                                                    else if (@Model.Estatus.Equals("Trámite de Pago"))
                                                    {
                                                        <i class="fal fa-money-check-edit-alt text-tramitePago"></i>
                                                    }
                                                    else if (@Model.Estatus.Equals("Enviada a DGPPT"))
                                                    {
                                                        <i class="fa-light fa-cash-register text-dgppt"></i>
                                                    }
                                                    else if (@Model.Estatus.Equals("Pagada"))
                                                    {
                                                        <i class="fa-light fa-sack-dollar text-success"></i>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="entregables_cedula" role="tabpanel" aria-labelledby="contact-tab">
                <div class="col-lg-12 h3 mt-4">
                    Entregables Periódicos
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-8">
                        <p class="h6">El usuario adjuntó los siguientes entregables.</p>
                    </div>
                </div>
                <div class="row col-lg-12 mt-1 h6">
                    <div class="col-lg-12">
                        <div class="col-lg-12 mb-3">
                            @if ((@Model.Estatus.Equals("Autorizada") || @Model.Estatus.Equals("Autorizado CAE")) && ((@User.Claims.ElementAt(2).Value).Contains("Evaluador") || (@User.Claims.ElementAt(2).Value).Contains("Administrador")))
                            {
                                <a href="#" type='button' class='btn-sm btn-success mr-2 float-right btn_addFile' data-toggle="tooltip" title="Adjuntar Entregable"><i class="fas fa-plus"></i></a>
                            }
                        </div>
                        <h6 class="mt-4"><strong>Entregables Adjuntos</strong></h6>
                        <table class="table" id="tableEntregables">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Fecha de Creación</th>
                                    <th class="text-center">Estatus</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ string tipo = ""; }
                                @foreach (var entre in @Model.iEntregables)
                                {
                                    <tr>
                                        @if (entre.Tipo.Equals("ActaER"))
                                        {
                                            tipo = "Acta Entrega - Recepción";
                                            <td>@Html.DisplayName(tipo)</td>
                                        }
                                        else if (entre.Tipo.Equals("Factura"))
                                        {
                                            tipo = "Factura";
                                            <td>@Html.DisplayName(tipo)</td>
                                        }
                                        else if (entre.Tipo.Equals("SAT"))
                                        {
                                            tipo = "Validación del SAT";
                                            <td>@Html.DisplayName(tipo)</td>
                                        }
                                        else if (entre.Tipo.Equals("NotaCredito"))
                                        {
                                            tipo = "Nota de Crédito";
                                            <td>@Html.DisplayName(tipo)</td>
                                        }
                                        else if (entre.Tipo.Equals("Reporte(s)"))
                                        {
                                            tipo = "Reporte(s)";
                                            <td>@Html.DisplayName(tipo)</td>
                                        }
                                        else if (entre.Tipo.Equals("Cedula_Firmada"))
                                        {
                                            cedula = true;
                                            tipo = "Cédula Firmada";
                                            <td>@Html.DisplayName(tipo)</td>
                                        }
                                        else if (entre.Tipo.Equals("Memorandum"))
                                        {
                                            memo = true;
                                            tipo = "Memorándum";
                                            <td>@Html.DisplayName(tipo)</td>
                                        }
                                        else
                                        {
                                            tipo = @entre.Tipo;
                                            <td>@entre.Tipo</td>
                                        }
                                        <td>@entre.NombreArchivo</td>
                                        <td>@entre.FechaCreacion.ToString("dd-MM-yyyy")</td>
                                        <!--Evaluador-->
                                        @if ((@User.Claims.ElementAt(2).Value).Contains("Evaluador"))
                                        {
                                            @if (entre.Estatus.Equals(""))
                                            {
                                                estatus = true;
                                                <td class="text-center text-info font-weight-bold">En Revisión</td>
                                            }
                                            else if (@entre.Estatus.Equals("Rechazado"))
                                            {
                                                @if (!@entre.Tipo.Equals("Memorandum"))
                                                {
                                                    rechazat = true;
                                                }
                                                else
                                                {
                                                    omemo = true;
                                                }

                                                <td class="row col-lg-12 justify-content-center">
                                                    <div class="form-row" data-tipo="@entre.Tipo">
                                                        <div class="icon mr-2 text-danger font-weight-bold" data-toggle="tooltip" title="Entregable Rechazado">
                                                            <i class="fas fa-times-circle"></i> Rechazado
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else if (@entre.Estatus.Equals("Autorizado"))
                                            {
                                                <td class="row col-lg-12 justify-content-center">
                                                    <div class="icon text-success font-weight-bold mt-1 mr-2" data-toggle="tooltip" title="Entregable Autorizado">
                                                        <i class="fas fa-check-circle"></i> Autorizado
                                                    </div>
                                                </td>
                                            }
                                        }
                                        else if ((@User.Claims.ElementAt(2).Value).Contains("CAE"))
                                        {
                                            @if (entre.Estatus.Equals("") && memo == false)
                                            {
                                                estatus = true;
                                                <td class="text-center">
                                                    <a href="#" class='btn-xs btn-success mr-2 success_entregable' data-id="@entre.Id" data-tipo="@tipo"
                                                       data-toggle="tooltip" title="Autorizar @tipo" data-placement="top">
                                                        <i class="fas fa-check ml-1"></i>
                                                    </a>
                                                    <a href="#" class='btn-xs btn-danger mr-2 failed_entregable' data-id="@entre.Id" data-tipo="@tipo"
                                                       data-toggle="tooltip" title="Rechazar @tipo" data-placement="top">
                                                        <i class="fas fa-times ml-1 mr-1"></i>
                                                    </a>
                                                </td>
                                            }
                                            else if (@entre.Estatus.Equals("Rechazado"))
                                            {
                                                rechazat = true;
                                                <td class="row col-lg-12 justify-content-center">
                                                    <div class="form-row" data-tipo="@entre.Tipo">
                                                        <div class="icon mr-2 text-danger font-weight-bold" data-toggle="tooltip" title="Entregable Rechazado">
                                                            <i class="fas fa-times-circle"></i> Rechazado
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else if (@entre.Estatus.Equals("Autorizado"))
                                            {
                                                <td class="row col-lg-12 justify-content-center">
                                                    <div class="icon text-success font-weight-bold mt-1 mr-2" data-toggle="tooltip" title="Entregable Autorizado">
                                                        <i class="fas fa-check-circle"></i> Autorizado
                                                    </div>
                                                    @if (@Model.Estatus.Equals("Revisión CAE"))
                                                    {
                                                        <a href="#" class='btn btn-sm btn-danger mr-2 failed_entregable' data-id="@entre.Id" data-tipo="@tipo"
                                                           data-toggle="tooltip" title="Rechazar @tipo" data-placement="top">
                                                            <i class="far fa-times"></i>
                                                        </a>
                                                    }
                                                </td>
                                            }
                                            else if (entre.Estatus.Equals(""))
                                            {
                                                estatus = true;
                                                <td class="text-center text-info font-weight-bold">En Revisión</td>
                                            }
                                        }
                                        else if ((@User.Claims.ElementAt(2).Value).Contains("Financieros"))
                                        {
                                            <!--Financieros-->
                                            if (@entre.Estatus.Equals("Autorizado"))
                                            {
                                                <td class="row col-lg-12 justify-content-center">
                                                    <div class="icon text-success font-weight-bold mt-1 mr-2" data-toggle="tooltip" title="Entregable Autorizado">
                                                        <i class="fas fa-check-circle"></i> Autorizado
                                                    </div>
                                                    @if (@Model.Estatus.Equals("En Trámite"))
                                                    {
                                                        <a href="#" class='btn btn-sm btn-danger mr-2 failed_entregable' data-id="@entre.Id" data-tipo="@tipo"
                                                           data-toggle="tooltip" title="Rechazar @tipo" data-placement="top">
                                                            <i class="far fa-times"></i>
                                                        </a>
                                                    }
                                                </td>
                                            }
                                            else if (@entre.Estatus.Equals("Rechazado"))
                                            {
                                                rechazat = true;
                                                <td class="row col-lg-12 justify-content-center">
                                                    <div class="form-row" data-tipo="@entre.Tipo">
                                                        <div class="icon mr-2 text-danger font-weight-bold" data-toggle="tooltip" title="Entregable Rechazado">
                                                            <i class="fas fa-times-circle"></i> Rechazado
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else if (entre.Estatus.Equals("") && @Model.Estatus.Equals("En Trámite"))
                                            {
                                                estatus = true;
                                                <td class="text-center">
                                                    <a href="#" class='btn-xs btn-success mr-2 success_entregable' data-id="@entre.Id" data-tipo="@tipo"
                                                       data-toggle="tooltip" title="Autorizar @tipo" data-placement="top">
                                                        <i class="fas fa-check ml-1"></i>
                                                    </a>
                                                    <a href="#" class='btn-xs btn-danger mr-2 failed_entregable' data-id="@entre.Id" data-tipo="@tipo"
                                                       data-toggle="tooltip" title="Rechazar @tipo" data-placement="top">
                                                        <i class="fas fa-times ml-1 mr-1"></i>
                                                    </a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center text-info font-weight-bold">En Revisión</td>
                                            }
                                        }
                                        else if ((@User.Claims.ElementAt(2).Value).Contains("Administrador"))
                                        {
                                            @if (entre.Estatus.Equals(""))
                                            {
                                                <td class="text-center">
                                                    <a href="#" class='btn-xs btn-success mr-2 success_entregable' data-id="@entre.Id" data-tipo="@tipo"
                                                       data-toggle="tooltip" title="Autorizar @tipo" data-placement="top">
                                                        <i class="fas fa-check ml-1"></i>
                                                    </a>
                                                    <a href="#" class='btn-xs btn-danger mr-2 failed_entregable' data-id="@entre.Id" data-tipo="@tipo"
                                                       data-toggle="tooltip" title="Rechazar @tipo" data-placement="top">
                                                        <i class="fas fa-times ml-1 mr-1"></i>
                                                    </a>
                                                </td>
                                            }
                                            else if (@entre.Estatus.Equals("Autorizado"))
                                            {
                                                <td class="row col-lg-12 justify-content-center">
                                                    <div class="icon text-success font-weight-bold mt-1 mr-2" data-toggle="tooltip" title="Entregable Autorizado">
                                                        <i class="fas fa-check-circle"></i> Autorizado
                                                    </div>
                                                    <a href="#" class='btn btn-sm btn-danger mr-2 failed_entregable' data-id="@entre.Id" data-tipo="@tipo"
                                                       data-toggle="tooltip" title="Rechazar @tipo" data-placement="top">
                                                        <i class="far fa-times"></i>
                                                    </a>
                                                </td>
                                            }
                                            else if (@entre.Estatus.Equals("Rechazado"))
                                            {
                                                <td class="row col-lg-12 justify-content-center">
                                                    <div class="icon text-danger font-weight-bold mt-1 mr-2" data-toggle="tooltip" title="Entregable Rechazado">
                                                        <i class="fas fa-check-circle"></i> Rechazado
                                                    </div>
                                                    <a href="#" class='btn-xs btn-success mr-2 success_entregable' data-id="@entre.Id" data-tipo="@tipo"
                                                       data-toggle="tooltip" title="Autorizar @tipo" data-placement="top">
                                                        <i class="fas fa-check ml-1"></i>
                                                    </a>
                                                </td>
                                            }
                                        }
                                        <td class="text-center">
                                            <a href='#' class='text-center mr-2 view_file' data-id="@entre.Id" data-file="@entre.NombreArchivo" data-tipo="@entre.Tipo"
                                               data-toggle="tooltip" title="Vista Previa de(la) @tipo" data-placement="top">
                                                <i class='fas fa-eye text-success'></i>
                                            </a>
                                            @if ((@User.Claims.ElementAt(2).Value).Contains("Evaluador"))
                                            {
                                                @if (@entre.Tipo.Equals("Memorandum") && @entre.Estatus.Equals("Rechazado") && rechazat == true)
                                                {
                                                    <a href='#' class='text-center mr-2 delete_files' data-id="@entre.Id" data-tipo="@entre.Tipo"
                                                       data-toggle="tooltip" title="Eliminar Memorándum" data-placement="top">
                                                        <i class='fas fa-times text-danger'></i>
                                                    </a>
                                                }
                                                else if (@entre.Estatus.Equals("Rechazado") && estatus == false)
                                                {
                                                    <a href='#' class="text-center mr-2 update_files" data-id="@entre.Id" data-coments="@entre.Comentarios"
                                                       data-file="@entre.NombreArchivo" data-tipo="@entre.Tipo" data-toggle="tooltip" title="Actualizar @entre.Tipo"
                                                       data-placement="top">
                                                        <i class='fas fa-check-circle text-primary'></i>
                                                    </a>
                                                }
                                                else if (@entre.Estatus.Equals("Rechazado") && estatus == true)
                                                {
                                                    <a href='#' class='text-center mr-2 delete_files' data-id="@entre.Id" data-tipo="@entre.Tipo"
                                                       data-toggle="tooltip" title="Eliminar Memorándum" data-placement="top">
                                                        <i class='fas fa-times text-danger'></i>
                                                    </a>
                                                }
                                            }
                                            else if ((@User.Claims.ElementAt(2).Value).Contains("Administrador"))
                                            {
                                                <a href='#' class="text-center mr-2 update_files" data-id="@entre.Id" data-coments="@entre.Comentarios"
                                                   data-file="@entre.NombreArchivo" data-tipo="@entre.Tipo" data-toggle="tooltip" title="Actualizar @entre.Tipo"
                                                   data-placement="top">
                                                    <i class='fas fa-check-circle text-primary'></i>
                                                </a>
                                                <a href='#' class='text-center mr-2 delete_files' data-id="@entre.Id" data-tipo="@entre.Tipo"
                                                   data-toggle="tooltip" title="Eliminar Memorándum" data-placement="top">
                                                    <i class='fas fa-times text-danger'></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row col-lg-12 justify-content-end mb-3">
                    @if ((@User.Claims.ElementAt(2).Value).Contains("Evaluador"))
                    {
                        @if (cedula == true && @Model.Estatus.Equals("Autorizada"))
                        {
                            <button href="" class="btn btn-primary float-right mr-3 revisar_cae" data-memo="@memo"><i class="fas fa-check mr-2"></i>Enviar a Revisión CAE</button>
                        }
                        else if (memo == true && @Model.Estatus.Equals("Autorizado CAE"))
                        {
                            <button href="" class="btn btn-info float-right mr-3 tramitar_cedula"><i class="fas fa-check mr-2"></i>Enviar a Trámite</button>
                        }
                        else if (@Model.Estatus.Equals("Trámite Rechazado"))
                        {
                            @if ((estatus == true && memo == false) || (omemo == true && estatus == true))
                            {
                                <button href="" class="btn btn-primary float-right mr-3 revisar_cae" data-memo="@memo"><i class="fas fa-check mr-2"></i>Enviar a Revisión CAE</button>
                            }
                            else if (omemo == false && memo == true)
                            {
                                <button href="" class="btn btn-info float-right mr-3 tramitar_cedula"><i class="fas fa-check mr-2"></i>Enviar a Trámite</button>
                            }
                        }
                    }
                    else if (@User.Claims.ElementAt(2).Value.Equals("CAE"))
                    {
                        @if (rechazat == true && @Model.Estatus.Equals("Revisión CAE"))
                        {
                            <button href="" class="btn btn-danger float-right mr-3 rechazar_tramite"><i class="fas fa-check mr-2"></i>Rechazar Trámite</button>
                        }
                        else if (rechazat == false && estatus == false && @Model.Estatus.Equals("Revisión CAE"))
                        {
                            <!--Enviar a Revision por la CAE-->
                            <button href="" class="btn btn-success float-right mr-3 autorizar_cae"><i class="fas fa-check mr-2"></i>Autorizar Documentación</button>
                        }
                    }
                    else if (@User.Claims.ElementAt(2).Value.Equals("Financieros"))
                    {
                        @if (rechazat == false && estatus == false && @Model.Estatus.Equals("En Trámite"))
                        {
                            <button href="" class="btn btn-success float-right mr-3 tramitar_pago"><i class="fas fa-check mr-2"></i>Tramitar Pago</button>
                        }
                        else if (rechazat == true && !@Model.Estatus.Equals("Trámite Rechazado"))
                        {
                            <button href="" class="btn btn-danger float-right mr-3 rechazar_tramite"><i class="fas fa-times mr-2"></i>Rechazar Trámite</button>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="historial_cedula" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row justify-content-center align-items-center mt-4">
                    <div class="col-lg-12 h3 ml-4">
                        Seguimiento de la Cédula
                    </div>
                    <div class="row col-lg-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Servicio</th>
                                    <th>Usuario</th>
                                    <th>Comentarios</th>
                                    <th>Estatus</th>
                                    <th>Fecha de Actualización</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var hist in @Model.historialCedulas)
                                {
                                    <tr>
                                        <td>@hist.Servicio</td>
                                        <td>@hist.usuarios.nombre_emp @hist.usuarios.paterno_emp @hist.usuarios.materno_emp</td>
                                        <td>@hist.Comentarios</td>
                                        <td>@hist.Estatus</td>
                                        <td>@hist.FechaCreacion</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="historial_entregables" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row justify-content-center align-items-center mt-4">
                    <div class="col-lg-12 h3 ml-4">
                        Seguimiento de los Entregables
                    </div>
                    <div class="row col-lg-12">
                        <table class="table mt-2">
                            <thead>
                                <tr>
                                    <th>Servicio</th>
                                    <th>Entregable</th>
                                    <th>Usuario</th>
                                    <th>Comentarios</th>
                                    <th>Estatus</th>
                                    <th>Fecha de Actualización</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var hist in @Model.historialEntregables)
                                {
                                    <tr>
                                        <td>@hist.Servicio</td>
                                        <td>@hist.Tipo</td>
                                        <td>@hist.usuarios.nombre_emp @hist.usuarios.paterno_emp @hist.usuarios.materno_emp</td>
                                        <td>@hist.Comentarios</td>
                                        <td>@hist.Estatus</td>
                                        <td>@hist.FechaCreacion</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal para ver las facturas de la cedula *@
<div class="modal fade" id="modal-ver-facturas">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Factura(s) Capturadas</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 mt-3">
                        <table class="table table-responsive" id="listado_facturas">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Empresa</th>
                                    <th>Folio Fiscal</th>
                                    <th>Numero de la Factura</th>
                                    <th>Subtotal de la Factura</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="listaFacturas"></tbody>
                        </table>
                    </div>
                    <div class="row col-lg-12 text-center">
                        <div class="col-lg-12 objectPdf">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* FIN del Modal para ver las facturas de la cedula *@

@* Modal para ver los conceptos de las facturas de la cedula *@
<div class="modal fade" id="modal-ver-conceptos">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white" id="factura_serie"></h4>
                <button type="button" class="close close_conceptos text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row col-lg-12" id="detalle_conceptos"></div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
@* Fin de Modal para ver los conceptos de las facturas de la cedula *@

@* Modal para la captura de Adjuntos *@
<div class="modal fade" id="modal_evidencias">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Adjuntar/Modificar Entregables</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="file_id" />
                    <div class="form-group col-lg-4">
                        <label for="tipoIncidencia">Tipo de Entregable:</label>
                        <select class="form-control" id="tipo_entregable"></select>
                        <div class="col-sm-12" id="error_tipoEntre">
                            <small id="dateHelp" class="text-danger">
                                Por favor seleccione el tipo de entregable
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="elegirArchivo">Seleccionar Archivo: </label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" accept=".pdf">
                            <label class="custom-file-label" for="customFile">Seleccionar Archivo</label>
                        </div>
                        <div class="col-sm-12" id="error_customFile">
                            <small id="dateHelp" class="text-danger">
                                Por favor seleccione él archivo correspondiente
                            </small>
                        </div>
                    </div>
                    <div class="form-row col-lg-12 mt-2" id="comentariosEntregable">
                        <div class="form-group mt-2 col-md-12">
                            <label for="fechaCierre">Comentarios:</label><br>
                            <textarea id="comentarios_entregable" class="form-control float-left"></textarea>
                            <div class="col-sm-12" id="error_comentariosEntre">
                                <small id="comentariosHelp" class="text-danger">
                                    Por favor capture los comentarios correspondientes
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-primary" id="adjuntarArchivo">Adjuntar Entregable</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin Modal para la captura de Incidencias *@

@* Modal para la ver Adjuntos *@
<div class="modal fade" id="show_pdf">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white" id="titlePDF"></h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td><strong>Folio: </strong> @Model.Folio</td>
                        <td><strong>Año: </strong>@Model.Anio</td>
                        <td><strong>Mes: </strong>@Model.Mes</td>
                        <td><strong>Inmueble: </strong>@Model.inmuebles.Nombre</td>
                        <td><strong>Estatus: </strong>@Model.Estatus </td>
                    </tr>
                </table>
                <div class="row" id="objectPdf">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin Modal para ver Adjuntos*@


<style>
    #view_pdf {
        width: 100%;
        height: 500px;
    }
</style>

@section Scripts{
    <script>
        $(function () {
            var model = @Html.Raw(Json.Serialize(@Model));

            $('[data-toggle="tooltip"]').tooltip();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href") // activated tab
                localStorage.setItem('activeTab', target);
            });

            if (localStorage.getItem('activeTab')) {
                var idTab = localStorage.getItem('activeTab').replace("#", "");
                $('a[href="#informacion_general"]').removeClass('active');
                $('a[href="' + localStorage.getItem('activeTab') + '"]').addClass('active');
                $("#informacion_general").removeClass("show active");
                $("#" + idTab).addClass("show active");
            } else {
                $('#myTab li:first').addClass('active');
            }


            /*Adjuntar Archivos*/
            $('#error_tipoEntre').css('display', 'none');
            $('#error_customFile').css('display', 'none');
            $('#error_comentariosEntre').css('display', 'none');

            /*Ocultar Botones de Acción*/
                $('.tramitar_cedula').css('display', 'none');
                $('.tramitar_pago').css('display', 'none');
                $('.rechazar_tramite').css('display', 'none');
            /*Fin de Ocultar Botones de Acción*/


                if (model.estatus == 'Autorizada') {
                    axios.get('/entregables/flujo/car/' + model.id + '/' + model.estatus).then(btn => {
                        console.log(btn);
                        if (btn.data == 1) {
                            $('.tramitar_cedula').css('display', 'block');
                        }
                        else if (btn.data == 0) {
                            $('.tramitar_pago').css('display', 'block');
                        }
                    });
                }
                else if (model.estatus == 'Trámite Rechazado') {
                    axios.get('/entregables/flujo/car/' + model.id + '/' + model.estatus).then(btn => {
                        if (btn.data == 0)
                        {
                            $('.tramitar_cedula').css('display', 'block');
                        }
                    });
                }
                else if (model.estatus == 'En Trámite') {
                    axios.get('/entregables/flujo/car/' + model.id + '/' + model.estatus).then(btn => {
                        if (btn.data > 0) {
                            $('.rechazar_tramite').css('display', 'block');
                        } else {
                            $('.tramitar_pago').css('display', 'block');
                        }
                    });
                }

            /*Tramitar Cedula*/
                $(document).on('click', '.tramitar_cedula', function () {
                    Swal.fire({
                        'icon': 'warning',
                        'title': 'Servicio de RPBI',
                        'html': '¿Está seguro que desea <b>tramitar la cédula con el folio: ' + model.folio + '?',
                        'confirmButtonColor': '#3085d6',
                        'cancelButtonColor': '#d33',
                        'confirmButtonText': 'Si, enviar',
                        'cancelButtonText': 'Cancelar',
                        'showCancelButton': true
                    }).then(confirm => {
                        if (confirm.isConfirmed) {
                            axios.post('/residuos/historialResiduos', { CedulaId: model.id, UsuarioId: parseInt(@User.Claims.ElementAt(0).Value), Estatus: "En Trámite", Comentarios: "Se envió a trámite por parte de la administración."}).then(hist => {
                                if (hist.status == 200) {
                                    axios.post('/residuos/aprovRechCed', { Id: model.id, Estatus: "En Trámite" }).then(response => {
                                        if (response.status == 200) {
                                            Swal.fire({
                                                'icon': 'success',
                                                'title': 'Servicio de RPBI',
                                                'text': 'Se envió a trámite la cédula de forma correcta.'
                                            }).then(function () {
                                                window.location.reload();
                                            });
                                        }
                                    });
                                }
                            }).catch(er => {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Servicio de RPBI',
                                    'text': 'Ocurrio un error al tramitar la cédula. Por favor comunicate a la ext. 2574.'
                                });
                            });
                        }
                    });
                 });

                $(document).on('click', '.tramitar_pago', function () {
                    Swal.fire({
                        'icon': 'warning',
                        'title': 'Servicio de RPBI',
                        'html': '¿Está seguro que desea enviar a <b>trámite de pago la cédula con el folio: ' + model.folio + '</b>?',
                        'confirmButtonColor': '#3085d6',
                        'cancelButtonColor': '#d33',
                        'confirmButtonText': 'Si, tramitar',
                        'cancelButtonText': 'Cancelar',
                        'showCancelButton': true
                    }).then(confirm => {
                        if (confirm.isConfirmed) {
                            axios.post('/residuos/historialResiduos', { CedulaId: model.id, UsuarioId: parseInt(@User.Claims.ElementAt(0).Value), Estatus: "Trámite de Pago", Comentarios: "Se envió para trámite de pago." }).then(hist => {
                                if (hist.status == 200) {
                                    axios.post('/residuos/aprovRechCed', { Id: model.id, Estatus: "Trámite de Pago" }).then(response => {
                                        if (response.status == 200) {
                                            Swal.fire({
                                                'icon': 'success',
                                                'title': 'Servicio de RPBI',
                                                'text': 'Se envió a trámite de pago la cédula de forma correcta.'
                                            }).then(function () {
                                                window.location.reload();
                                            });
                                        }
                                    });
                                }
                            });
                        }
                    });
                });

                $(document).on('click', '.rechazar_tramite', function () {
                    Swal.fire({
                        'icon': 'warning',
                        'title': 'Servicio de RPBI',
                        'html': '¿Está seguro que desea <b>rechazar el trámite de la cédula con el folio: ' + model.folio + ' ?',
                        'confirmButtonColor': '#3085d6',
                        'cancelButtonColor': '#d33',
                        'confirmButtonText': 'Si, rechazar',
                        'cancelButtonText': 'Cancelar',
                        'showCancelButton': true
                    }).then(confirm => {
                        if (confirm.isConfirmed) {
                            Swal.fire({
                                icon: 'info',
                                'title': 'Servicio de RPBI',
                                text: 'Por favor capture los comentarios por el cual se rechaza el trámite de la cédula.',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                cancelButtonText: 'Cancelar',
                                confirmButtonText: 'Rechazar',
                                input: 'text',
                                inputPlaceholder: 'Escriba los comentarios correspondientes'
                            }).then(send => {
                                if (send.value.length > 0) {
                                    axios.post('/residuos/historialResiduos', { CedulaId: model.id, UsuarioId: parseInt(@User.Claims.ElementAt(0).Value), Estatus: "Trámite Rechazado", Comentarios: send.value
                                    }).then(hist => {
                                        if (hist.status == 200) {
                                            axios.post('/residuos/aprovRechCed', { Id: model.id, Estatus: "Trámite Rechazado" }).then(response => {
                                                if (response.status == 200) {
                                                    Swal.fire({
                                                        'icon': 'success',
                                                        'title': 'Servicio de RPBI',
                                                        'text': 'Se rechazó el trámite de la cédula de forma correcta.'
                                                    }).then(function () {
                                                        window.location.reload();
                                                    });
                                                }
                                            });
                                        }
                                    }).catch(er => {
                                        Swal.fire({
                                            'icon': 'error',
                                            'title': 'Servicio de RPBI',
                                            'text': 'Ocurrió un error al rechazar el trámite de la cédula. Por favor contactar a Soporte técnico a la ext. #318 2574.'
                                        });
                                    });
                                } else {
                                    Swal.fire({
                                        'icon': 'error',
                                        'title': 'Servicio de RPBI',
                                        'text': 'Es necesario capturar los comentarios indicando el motivo por el cual se envía a trámite la cédula.'
                                    });
                                }
                            });
                        }
                    });
                });

                $(document).on('click', '.autorizar_cae', function () {
                    Swal.fire({
                        'icon': 'warning',
                        'title': 'Servicio de RPBI',
                        'html': '¿Está seguro que desea <b>autorizar la documentación de la cédula con el folio: ' + model.folio + ' ?',
                        'confirmButtonColor': '#3085d6',
                        'cancelButtonColor': '#d33',
                        'confirmButtonText': 'Si, autorizar',
                        'cancelButtonText': 'Cancelar',
                        'showCancelButton': true
                    }).then(confirm => {
                        if (confirm.isConfirmed) {
                            axios.post('/residuos/historialResiduos', { CedulaId: model.id, UsuarioId: parseInt(@User.Claims.ElementAt(0).Value), Estatus: "Autorizado CAE", Comentarios: "Se autorizó la documentación por la CAE"}).then(hist => {
                                if (hist.status == 200) {
                                    axios.post('/residuos/aprovRechCed', { Id: model.id, Estatus: "Autorizado CAE" }).then(response => {
                                        if (response.status == 200) {
                                            Swal.fire({
                                                'icon': 'success',
                                                'title': 'Servicio de RPBI',
                                                'text': 'Se autorizó la documentación de forma correcta.'
                                            }).then(function () {
                                                window.location.reload();
                                            });
                                        }
                                    });
                                }
                            }).catch(er => {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Servicio de RPBI',
                                    'text': 'Ocurrió un error al autorizar la cédula. Por favor contactar a Soporte técnico a la ext. #318 2574.'
                                });
                            });
                        }
                    });
                });

                $(document).on('click', '.revisar_cae', function () {
                    if ($(this).data('memo') == "True") {
                        Swal.fire({
                            'icon': 'error',
                            'title': 'Servicio de RPBI',
                            'html': '<p style="text-align: justify">Por favor elimine el <strong>Memorándum</strong> del sistema CASESG en la sección de entregables usando el icono <i class="fas fa-times text-danger ml-1 mr-1"></i> y genere uno nuevo, el cual ' +
                                'deberá ser enviado por correo electrónico para revisión y en su caso, sea firmado electrónicamente ' +
                                'por la CAE.</p>'
                        });

                        return false;
                    }

                    Swal.fire({
                        'icon': 'warning',
                        'title': 'Servicio de RPBI',
                        'html': '¿Está seguro que desea enviar <b> a revisión de la CAE la documentación de la cédula con el folio: ' + model.folio + '?',
                        'confirmButtonColor': '#3085d6',
                        'cancelButtonColor': '#d33',
                        'confirmButtonText': 'Si, enviar',
                        'cancelButtonText': 'Cancelar',
                        'showCancelButton': true
                    }).then(confirm => {
                        if (confirm.isConfirmed) {
                            axios.post('/residuos/historialResiduos', { CedulaId: model.id, UsuarioId: parseInt(@User.Claims.ElementAt(0).Value), Estatus: "Revisión CAE", Comentarios: "Se envía a revisión por la CAE" }).then(hist => {
                                if (hist.status == 200) {
                                    axios.post('/residuos/aprovRechCed', { Id: model.id, Estatus: "Revisión CAE" }).then(response => {
                                        if (response.status == 200) {
                                            Swal.fire({
                                                'icon': 'success',
                                                'title': 'Servicio de RPBI',
                                                'text': 'Se envió a revisión de la CAE de forma correcta.'
                                            }).then(function () {
                                                window.location.reload();
                                            });
                                        }
                                    });
                                }
                            }).catch(er => {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Servicio de RPBI',
                                    'text': 'Ocurrio un error al enviar la cédula a revisión por la CAE. Por favor comunicate a la ext. 2574.'
                                });
                            });
                        }
                    });
                });
            /*Fin de Tramitar Cedula*/

            /*Ver archivo en modal*/
            $(document).on('click', '.view_file', function () {
                let nombre = $(this).data('file');
                let tipo = $(this).data('tipo');
                let data = "<object width='100%' height='450px' data='/cedLimpieza/verArchivo/" + model.folio + "/" + nombre + "'></object>";
                $('#titlePDF').text("PDF - \"" + tipo + "\"");
                $('#objectPdf').html(data);
                $('#show_pdf').modal('show');
            });
            /*FIN de ver archivo en modal*/

            /*Autorizar Entregable*/
                $(document).on('click', '.success_entregable', function () {
                var tipo = $(this).data('tipo');
                var id = $(this).data('id');
                var mensaje = '';
                if (tipo == "Memorándum") {
                    mensaje = '¿Está seguro que desea autorizar el entregable <b>Memorándum</b>, el cual debe ser el acuse generado por el sistema de gestión documental (SIGDOC)?'
                } else {
                    mensaje = '¿Está seguro que desea autorizar el entregable <b>' + tipo + '</b>?';
                }
                Swal.fire({
                    'icon': 'warning',
                    'title': 'Servicio de RPBI',
                    'html': mensaje,
                    'confirmButtonColor': '#3085d6',
                    'cancelButtonColor': '#d33',
                    'confirmButtonText': 'Si, autorizar',
                    'cancelButtonText': 'Cancelar',
                    'showCancelButton': true
                }).then(confirm => {
                    if (confirm.isConfirmed) {
                         axios.post('/residuos/entregables/historialEntregable', {
                             CedulaId: model.id, UsuarioId: parseInt(@User.Claims.ElementAt(0).Value), ServicioId: parseInt(model.servicioId), Tipo: tipo, Estatus: "Autorizado", Comentarios: "Se autoriza el entregable"
                                }).then(hist => {
                                    if (hist.status == 200) {
                                        axios.post('/residuos/entregables/autoRecha', { Id: id, Estatus: "Autorizado", CedulaEvaluacionId: parseInt(model.id) }).then(response => {
                                            if (response.status == 200) {
                                                Swal.fire({
                                                    'icon': 'success',
                                                    'title': 'Servicio de RPBI',
                                                    'text': 'Se autorizó el entregable de forma correcta.'
                                                }).then(function () {
                                                    window.location.reload();
                                                });
                                            }
                                        });
                                    }
                                }).catch(er => {
                                    Swal.fire({
                                        'icon': 'error',
                                        'title': 'Servicio de RPBI',
                                        'text': 'Ocurrió un error al autorizar la cédula. Por favor contactar a Soporte técnico a la ext. #318 2574.'
                                    });
                                });
                         }
                    });
                });
            /*Fin de Autorizar Cedula*/

            /*Rechazar Entregable*/
                $(document).on('click', '.failed_entregable', function () {
                var tipo = $(this).data('tipo');
                var id = $(this).data('id');

                Swal.fire({
                    'icon': 'warning',
                    'title': 'Servicio de RPBI',
                    'html': '¿Está seguro que desea rechazar el entregable <b>' + tipo+ '</b>?',
                    'confirmButtonColor': '#3085d6',
                    'cancelButtonColor': '#d33',
                    'confirmButtonText': 'Si, Rechazar',
                    'cancelButtonText': 'Cancelar',
                    'showCancelButton': true
                }).then(confirm => {
                    if (confirm.isConfirmed) {
                        Swal.fire({
                            icon: 'info',
                            'title': 'Servicio de RPBI',
                            html: 'Por favor capture el motivo por el cual se rechaza el entregable <b>"'+tipo+'"</b>.',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            cancelButtonText: 'Cancelar',
                            confirmButtonText: 'Rechazar',
                            input: 'text',
                            inputPlaceholder: 'Escriba los comentarios correspondientes'
                        }).then(send => {
                            if (send.value.length > 0) {
                                axios.post('/residuos/entregables/historialEntregable', {
                                    CedulaId: model.id, UsuarioId: parseInt(@User.Claims.ElementAt(0).Value), Tipo: tipo, ServicioId: parseInt(model.servicioId),
                                    Estatus: "Rechazado", Comentarios: send.value
                                }).then(hist => {
                                    if (hist.status == 200) {
                                        axios.post('/residuos/entregables/autoRecha', { Id: id, Estatus: "Rechazado", CedulaEvaluacionId: model.id }).then(response => {
                                            if (response.status == 200) {
                                                Swal.fire({
                                                    'icon': 'success',
                                                    'title': 'Servicio de RPBI',
                                                    'text': 'Se rechazó el entregable de forma correcta.'
                                                }).then(function () {
                                                    window.location.reload();
                                                });
                                            }
                                        });
                                    }
                                }).catch(er => {
                                    Swal.fire({
                                        'icon': 'error',
                                        'title': 'Servicio de RPBI',
                                        'text': 'Ocurrio un error al rechazar el entregable. Por favor comunicate a la ext. 2574.'
                                    });
                                });
                            } else {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Servicio de RPBI',
                                    'text': 'Es necesario capturar los comentarios indicando el motivo por el cual se rechaza la cédula.'
                                });
                            }
                        });
                    }
                });
            });
            /*Fin de Rechazar Entregable*/

             /*Ver Facturas*/
                function modalFacturas(nombre) {
                    axios.get('/limpieza/getFacturas/' + model.id+'/'+7).then(table => {
                        var facturas = table.data;
                        for (var i = 0; i < facturas.length; i++) {
                            table += "<tr>" +
                                "<td>" + (i + 1) + "</td>" +
                                "<td>" + facturas[i].emisor.nombre + "</td>" +
                                "<td>" + facturas[i].timbreFiscal.uuid + "</td>" +
                                "<td>" + (facturas[i].comprobante.serie + "" + facturas[i].comprobante.folio) + "</td>" +
                                "<td> $" + parseFloat(facturas[i].comprobante.subTotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + "</td>" +
                                "<td> $" + parseFloat(facturas[i].comprobante.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + "</td>" +
                                "<td>" +
                                "<a class='update_factura' href='#' data-id='" + facturas[i].id + "'><i class='fad fa-pencil text-primary'></i></a>" +
                                "<a class='delete_factura' href='#' data-id='" + facturas[i].id + "'><i class='fad fa-times text-danger ml-2'></i></a>" +
                                "</td>" +
                                "</tr>";
                        }
                        let data = "<object width='100%' height='450px' data='/cedLimpieza/verArchivo/" + model.folio + "/" + nombre + "'></object>";
                        $('.objectPdf').html(data);
                        $("#listaFacturas").html(table);
                        if (facturas.length == 0) {
                            $("#listado_facturas").hide();
                        } else {
                            $("#listado_facturas").show();
                        }
                    });
                    $('#modal-ver-facturas').modal('show');
            }

                $("#btn_facturas").click(function () {
                    axios.get('/limpieza/getFacturas/' + model.id+'/'+7).then(table => {
                        var facturas = table.data;
                        console.log(facturas);
                        for (var i = 0; i < facturas.length; i++) {
                            table += "<tr>" +
                                "<td>" + (i + 1) + "</td>" +
                                "<td>" + facturas[i].emisor.nombre + "</td>" +
                                "<td>" + facturas[i].timbreFiscal.uuid + "</td>" +
                                "<td>" + (facturas[i].comprobante.serie + "" + facturas[i].comprobante.folio) + "</td>" +
                                "<td> $" + parseFloat(facturas[i].comprobante.subTotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + "</td>" +
                                "<td> $" + parseFloat(facturas[i].comprobante.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + "</td>" +
                                "<td>" +
                                    "<a class='view_factura' href='#' data-id='" + i + "'><i class='far fa-list text-success'></i></a>" +
                                "</td>" +
                                "</tr>";
                        }
                            $("#listaFacturas").html(table);
                        if (facturas.length == 0) {
                            $("#listado_facturas").hide();
                        } else {
                            $("#listado_facturas").show();
                        }
                    });
                    $('#modal-ver-facturas').modal('show');
                });

                $(document).on('click', '.view_factura', function () {
                var id = $(this).data('id');
                var divTbl = "";
                $('#modal-ver-facturas').modal('hide');
                axios.get('/limpieza/getFacturas/' + model.id + '/' + 7).then(table => {
                    $("#factura_serie").text("Detalle de la Factura: " + table.data[id].comprobante.serie + table.data[id].comprobante.folio);
                    var conceptos = table.data[id].concepto;

                    for (var i = 0; i < conceptos.length; i++) {
                        divTbl += '<div class="row col-lg-12 mt-1">' +
                            '<table class="table table-borderless">' +
                            '<tr>' +
                            '<td colspan="4"><strong>Concepto: </strong>' + conceptos[i].descripcion + '</td>' +
                            '</tr>' +
                            '<tr>' +
                            '    <td data-toggle="tooltip" title="Número de elementos que prestaron el servicio en el mes" data-placement="top" id="concepto_cantidad"><strong>Cantidad: </strong>' + table.data[id].concepto[i].cantidad + '</td>' +
                            '    <td data-toggle="tooltip" title="Clave del Producto o Servicio Facturado" data-placement="top" id="concepto_cveProduc"><strong>Clave del Producto: </strong>' + table.data[id].concepto[i].claveProdServ + '</td>' +
                            '    <td data-toggle="tooltip" title="Clave de la Medida en Base al Servicio" data-placement="top" id="concepto_medida"><strong>Clave de Medida: </strong>' + table.data[id].concepto[i].claveUnidad + '</td>' +
                            '    <td data-toggle="tooltip" title="Unidad de Medida" data-placement="top" id="concepto_unidadMed"><strong>Unidad de Medida: </strong>' + table.data[id].concepto[i].unidad + '</td>' +
                            '    <td data-toggle="tooltip" title="Tipo de CFDI" data-placement="top" id="tipo_cfdi"><strong>Uso de CFDI: </strong>' + table.data[id].receptor.usoCFDI + '</td>' +
                            '    <td data-toggle="tooltip" title="Valor unitario por unidad" data-placement="top" id="concepto_unitario"><strong>Precio Unitario: </strong> $ ' + (table.data[id].concepto[i].valorUnitario).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + '</td>' +
                            '</tr>' +
                            '<tr>' +
                            '    <td data-toggle="tooltip" title="IVA del subtotal del 16%" data-placement="top" id="concepto_iva"><strong>IVA: </strong> $ ' + (table.data[id].traslado.importe).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + '</td>' +
                            '    <td data-toggle="tooltip" title="Importe total de la facturación" data-placement="top" id="concepto_total"><strong>Total: </strong> $ ' + (table.data[id].concepto[i].importe).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + '</td>' +
                            '    <td colspan="3"></td>' +
                            '</tr>' +
                            '</table>' +
                            '</div>';
                    }
                    $("#detalle_conceptos").html(divTbl);
                    $('#modal-ver-conceptos').modal('show');
                });
                });
            /*Fin de Ver Facturas*/

            /************************************ CARGA/EDICION ARCHIVOS ************************************/
                /*Modal para Adjuntar Archivos*/
                    $('.btn_addFile').click(function () {
                        var options = '<option value="">Seleccione un Entregable</option>';
                        axios.get("/residuos/getListadoEntregables/" + model.id).then(response => {
                            response = response.data;
                            console.log(response);
                            var memo = false;
                            var cedFirmada = false;
                            for (var i = 0; i < response.length;i++) {
                                if (response[i].estatus == "Rechazado" && response[i].tipo == "ActaER") {
                                    options += '<option value="ActaER">Acta Entrega - Recepción</option>'
                                } else if (response[i].estatus == "Rechazado" && response[i].tipo == "Factura") {
                                    options += '<option value="Factura">Factura</option>';
                                } else if (response[i].estatus == "Rechazado" && response[i].tipo == "SAT") {
                                    options += '<option value="SAT">Validación del SAT</option>';
                                } else if (response[i].estatus == "Rechazado" && response[i].tipo == "NotaCredito") {
                                    options += '<option value="NotaCredito">Nota de Crédito</option>';
                                } else if (response[i].estatus == "Rechazado" && response[i].tipo == "Memorandum") {
                                    options += '<option value="Memorandum">Memorandum</option>';
                                } else if (response[i].estatus == "Rechazado" && response[i].tipo == "Cedula_Firmada") {
                                    options += '<option value="Cedula_Firmada">Cédula Firmada</option>';
                                }

                                if (response[i].estatus == '' && response[i].tipo == "Memorandum") {
                                    memo = true;
                                }

                                if (response[i].estatus == '' && response[i].tipo == "Cedula_Firmada") {
                                    cedFirmada = true;
                                }
                            }

                            if (memo == false) {
                                options += '<option value="Memorandum">Memorandum</option>';
                            }
                            if (cedFirmada == false) {
                                options += '<option value="Cedula_Firmada">Cédula Firmada</option>';
                            }

                            $("#tipo_entregable").html(options);
                        });
                        $('#modal_evidencias').modal('show');
                    });
                /*FIN del modal para adjuntar archivos*/

                /*Adjunta Entregables*/
                    function validaCamposArchivo() {

                        if ($('#tipo_entregable').val() == "" && $('#customFile').val() == "") {
                            $('#tipo_entregable').addClass('is-invalid');
                            $('#error_tipoEntre').css('display', 'block');

                            $('#customFile').addClass('is-invalid');
                            $('#error_customFile').css('display', 'block');

                            return false;
                        }

                        if ($('#tipo_entregable').val() == "" ) {
                            $('#tipo_entregable').addClass('is-invalid');
                            $('#error_tipoEntre').css('display', 'block');

                            return false;
                        }

                        if ($('#customFile').val() == "") {

                            $('#customFile').addClass('is-invalid');
                            $('#error_customFile').css('display', 'block');

                            return false;
                        }

                        return true;
                    }
                    $("#customFile").on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        var ext = fileName.split('.').pop();
                        if (ext == "pdf") {
                            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                        } else {
                            Swal.fire({
                                'icon': 'error',
                                'title': 'Formato Incorrecto',
                                'text': 'El archivo que intentas adjuntar no es válido. Favor de solo seleccionar archivos "PDF"'
                            });
                            $(".custom-file-label").text("Seleccionar Archivo");
                            document.getElementById('customFile').value = '';
                            if ($('#customFile').hasClass('is-valid')) {
                                $('#customFile').removeClass('is-valid');
                            }
                            $('#customFile').addClass('is-invalid');
                            $('#error_customFile').css('display', 'block');
                        }

                    });

                    $('#adjuntarArchivo').click(function () {
                        var formData = new FormData();
                        var folio = model.folio;
                        var file = document.getElementById('customFile').files[0];
                        var id = $('#file_id').val();
                        var tipo = $('#tipo_entregable').val();
                        var comentarios = $('#comentarios_entregable').val();

                        if (id.length > 0) {
                            id = parseInt(id);
                        } else {
                            id = 0;
                        }

                        formData.append("Id", id);
                        formData.append("CedulaEvaluacionId", model.id);
                        formData.append("Archivo", file);
                        formData.append("Folio", folio);
                        formData.append("Tipo", tipo);
                        formData.append("Comentarios", comentarios);

                        if (validaCamposArchivo()) {
                            if (id != 0) {
                                axios.post('/residuos/adjuntaEntregable', formData, {
                                    headers: { 'Content-Type': 'multipart/form-data' }

                                }).then(response => {
                                    $('#cerrar_modal_sua').trigger('click');
                                    /*Validamos la pregunta a la que se realizo el anexo de evidencia*/
                                    if (response.status == 200) {
                                        Swal.fire({
                                            'icon': "success",
                                            'title': 'Servicio de RPBI',
                                            'text': 'Se adjuntó el archivo de forma correcta.'
                                        }).then(function () {
                                            window.location.reload();
                                        });
                                        $('#customFile').removeClass('is-valid');
                                        $('#comentarios_entregable').removeClass('is-valid');
                                        $('#tipo_entregable').removeClass('is-valid');
                                    }
                                    axios.get("/residuos/getEntregables/" + model.id).then(success => {
                                        if (success.data == null || success.data == "") {
                                            $('#tEntregables').html(success.data);
                                        }
                                        $('#tEntregables').html(success.data);
                                    });
                                }).catch(error => {
                                    Swal.fire({
                                        'icon': "error",
                                        'title': 'Servicio de RPBI',
                                        'text': 'Se presento un error al intentar adjuntar el archivo.'
                                    });
                                });

                                document.getElementById('customFile').value = '';
                                $('#file_id').val("");
                                $(".custom-file-label").text("Seleccionar Archivo");
                                $('#tipo_entregable').val('');
                                $('#comentarios_entregable').val('');
                            } else {
                                axios.get('/residuos/buscaEntregable/' + model.id + '/' + tipo).then(exist => {
                                    console.log(exist);
                                    if (exist.data == 0) {
                                        axios.post('/residuos/adjuntaEntregable', formData, {
                                            headers: { 'Content-Type': 'multipart/form-data' }

                                        }).then(response => {
                                            $('#cerrar_modal_sua').trigger('click');
                                            /*Validamos la pregunta a la que se realizo el anexo de evidencia*/
                                            if (response.status == 200) {
                                                Swal.fire({
                                                    'icon': "success",
                                                    'title': 'Servicio de RPBI',
                                                    'text': 'Se adjuntó el archivo de forma correcta.'
                                                }).then(function () {
                                                    window.location.reload();
                                                });
                                                $('#customFile').removeClass('is-valid');
                                                $('#comentarios_entregable').removeClass('is-valid');
                                                $('#tipo_entregable').removeClass('is-valid');
                                            }
                                            axios.get("/residuos/getEntregables/" + model.id).then(success => {
                                                if (success.data == null || success.data == "") {
                                                    $('#tEntregables').html(success.data);
                                                }
                                                $('#tEntregables').html(success.data);
                                            });
                                        }).catch(error => {
                                            Swal.fire({
                                                'icon': "error",
                                                'title': 'Servicio de RPBI',
                                                'text': 'Se presento un error al intentar adjuntar el archivo.'
                                            });
                                        });

                                        document.getElementById('customFile').value = '';
                                        $('#file_id').val("");
                                        $(".custom-file-label").text("Seleccionar Archivo");
                                        $('#tipo_entregable').val('');
                                        $('#comentarios_entregable').val('');
                                    } else {
                                        Swal.fire({
                                            'icon': "error",
                                            'title': 'Servicio de RPBI',
                                            'text': 'Ya fue enviado un entregable con el mismo tipo.'
                                        });
                                    }
                                }).catch(e => {
                                    Swal.fire({
                                        'icon': "error",
                                        'title': 'Servicio de RPBI',
                                        'text': 'Ocurrío un error al válidar el entregable.'
                                    });
                                });
                            }
                        }
                    });

                /*FIN Adjunta Entregables*/

                /* Listado de Entregables de la Cedula */
                    axios.get("/residuos/getEntregables/"+model.id).then(response => {
                        if (response.data == null || response.data == "") {
                            $('#tEntregables').html(response.data);
                        }
                        $('#tEntregables').html(response.data);
                    });
                /* Fin Listado de Entregables de la Cedula*/

                /*Editar Entregables*/
                    $(document).on("click", ".update_files", function () {
                        $('#modal_evidencias').modal('show');
                        var id = $(this).data('id');
                        var tipo = $(this).data('tipo');
                        var coments = $(this).data('coments');
                        var file = $(this).data('file');
                        $('#file_id').val(parseInt(id));
                        $(".custom-file-label").text(file);
                        $('#tipo_entregable').val(tipo);
                        $('#comentarios_entregable').val(coments);
                        $('#tipo_entregable').prop('disabled', true);
                        $('#modal_evidencias').modal('show');
                    });
                /*FIN de editar Entregables*/

                /*Elimina entregables*/
                    $(document).on("click", ".delete_files", function () {
                        let id = $(this).data('id');
                        let tipo = $(this).data('tipo');
                        Swal.fire({
                            'icon': 'warning',
                            'title': 'Servicio de RPBI',
                            'text': '¿Estás seguro de eliminar el archivo relacionado a "'+tipo+'"?',
                            'confirmButtonColor': '#3085d6',
                            'cancelButtonColor': '#d33',
                            'confirmButtonText': 'Si, Eliminar Archivo',
                            'cancelButtonText': 'Cancelar',
                            'showCancelButton': true
                        }).then(response => {
                            if (response.isConfirmed) {
                                axios.post("/residuos/eliminaArchivo", { Id: id }).then(response => {
                                    if (response.status == 200) {
                                        Swal.fire(
                                            'Archivo Borrado',
                                            'Tu archivo fue eliminado con éxito.',
                                            'success'
                                        );
                                        axios.get("/residuos/getEntregables/" + model.id).then(response => {
                                            if (response.data == null || response.data == "") {
                                                $('#tEntregables').html(response.data);
                                            }
                                            $('#tEntregables').html(response.data);
                                        });
                                    }
                                }).catch(error => {
                                    Swal.fire(
                                        'Algo Falló',
                                        'No se pudo procesar tu solicitud. Contacta a tu Administrador.',
                                        'error'
                                    );
                                });
                            }
                        });
                    });
                /*FIN de elimina entregables*/

                /*Validaciones Entregables*/
                    $('#tipo_entregable').change(function () {
                        if ($('#tipo_entregable').val() == "") {
                            $('#tipo_entregable').addClass('is-invalid');
                            $('#error_tipoEntre').css('display', 'block');

                            return false;
                        } else {
                            $('#tipo_entregable').removeClass('is-invalid');
                            $('#tipo_entregable').addClass('is-valid');
                            $('#error_tipoEntre').css('display', 'none');
                        }
                    });

                    $('#customFile').change(function () {
                         if ($('#customFile').val() == "") {
                             $('#customFile').addClass('is-invalid');
                             $('#error_customFile').css('display', 'block');

                        } else {
                             var fileName = $("#customFile").val().split("\\").pop();
                             var ext = fileName.split('.').pop();
                             if (ext != "pdf") {
                                 $('#customFile').addClass('is-invalid');
                                 $('#error_customFile').css('display', 'block');
                             } else {
                                 $('#customFile').removeClass('is-invalid');
                                 $('#customFile').addClass('is-valid');
                                 $('#error_customFile').css('display', 'none');
                             }
                        }
                     });

                    $('#comentarios_entregable').change(function () {
                        if ($('#comentarios_entregable').val() == "") {
                            $('#comentarios_entregable').addClass('is-invalid');
                            $('#error_comentariosEntre').css('display', 'block');

                            return false;
                        } else {
                            $('#comentarios_entregable').removeClass('is-invalid');
                            $('#comentarios_entregable').addClass('is-valid');
                            $('#error_comentariosEntre').css('display', 'none');
                        }
                    });
                /*FIN de Validaciones Entregables*/

            /************************************ FIN CARGA/EDICION ARCHIVOS ************************************/
        });
    </script>
}


