@* Incidencias Convencional *@
@model CedulasEvaluacion.Entities.MCedula.CedulaEvaluacion;
@{
    ViewData["Title"] = "Requerimientos en la cédula con folio: " + Model.Folio + " del servicio de \"Telefonía Convencional\"";
}
<div class="container-fluid" id="limpieza">
    <div class="row float-right">
        <a href="/telConvencional/evaluacion/@Model.Id@Model.URL" type='button' class='btn-sm btn-warning float-right mr-2 mb-3' data-toggle="tooltip" title="Regresar a la evaluación" data-placement="top">
            <i class="fal fa-arrow-to-left"></i>
        </a>
        <a href="#" class='btn-sm btn-primary float-right mr-2 mb-3' id="btn_add" data-toggle="tooltip" title="Capturar Incidencia" data-placement="top">
            <i class="fal fa-plus"></i>
        </a>
    </div>
    <div class="row col-lg-12">
        <div class="row ">
            <div class="col-lg-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#altaEquipo" role="tab" aria-controls="home" aria-selected="true">Alta de Línea</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#alta" role="tab" aria-controls="profile" aria-selected="false">Cableado Interior</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#baja" role="tab" aria-controls="contact" aria-selected="false">Aparato Telefónico</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reactivacion" role="tab" aria-controls="contact" aria-selected="false">Cambio de Domicilio</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#suspension" role="tab" aria-controls="contact" aria-selected="false">Reubicación de Línea</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="contact" aria-selected="false">Identificador de Llamadas</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#sim" role="tab" aria-controls="contact" aria-selected="false">Troncales y DID's</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#cambio" role="tab" aria-controls="contact" aria-selected="false">Contratación de Internet</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#vozDatos" role="tab" aria-controls="contact" aria-selected="false">Servicios de Telefonía</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#diagnostico" role="tab" aria-controls="contact" aria-selected="false">Cancelación de Servicios</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reparacion" role="tab" aria-controls="contact" aria-selected="false">Reporte de Fallas</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    @* contratacion_instalacion *@
                    <div class="tab-pane fade mt-2 ml-3 show active" id="altaEquipo" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Contratación e Instalación de Línea Telefónica</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Fecha de Atención</th>
                                            <th>Días de Atención</th>
                                            <th>Días de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var i = 0;}
                                        @foreach (var p1 in Model.incidencias.convencional)
                                        {
                                            if (p1.Tipo == "contratacion_instalacion")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Contratación/Instalacion</td>
                                                    <td>@p1.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                                                    <td>@p1.FechaAtencion.ToString("dd/MM/yyyy")</td>
                                                    <td>@p1.DiasAtencion</td>
                                                    <td>@p1.DiasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p1.FechaSolicitud.ToString("yyyy-MM-dd")" data-fechaa="@p1.FechaAtencion.ToString("yyyy-MM-dd")" data-id="@p1.Id"
                                                           data-cate="@p1.Tipo" data-linea="@p1.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p1.Id" data-cate="@p1.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de contratacion_instalacion*@
                    @* cableado*@
                    <div class="tab-pane fade mt-2 ml-3" id="alta" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Cableado Interno al Instalar una Línea Tel.</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:101%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Fecha de Atención</th>
                                            <th>Días de Atención</th>
                                            <th>Días de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ i = 0;}
                                        @foreach (var p2 in Model.incidencias.convencional)
                                        {
                                            if (p2.Tipo == "cableado")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Cableado Interno</td>
                                                    <td>@p2.FechaSolicitud</td>
                                                    <td>@p2.FechaAtencion</td>
                                                    <td>@p2.DiasAtencion</td>
                                                    <td>@p2.DiasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p2.FechaSolicitud.ToString("yyyy-MM-dd")" data-fechaa="@p2.FechaAtencion.ToString("yyyy-MM-dd")"
                                                           data-id="@p2.Id" data-cate="@p2.Tipo" data-linea="@p2.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p2.Id" data-cate="@p2.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de cableado*@
                    @* entregaAparato *@
                    <div class="tab-pane fade mt-2 ml-3" id="baja" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Entrega de Aparato Telefónico</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:101%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Fecha de Atención</th>
                                            <th>Días de Atención</th>
                                            <th>Días de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ i = 0;}
                                        @foreach (var p2 in Model.incidencias.convencional)
                                        {
                                            if (p2.Tipo == "entregaAparato")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Entrega de Aparato Telefónico</td>
                                                    <td>@p2.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.FechaAtencion.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.DiasAtencion</td>
                                                    <td>@p2.DiasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p2.FechaSolicitud.ToString("yyyy-MM-dd")" data-fechaa="@p2.FechaAtencion.ToString("yyyy-MM-dd")"
                                                           data-id="@p2.Id" data-cate="@p2.Tipo" data-linea="@p2.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p2.Id" data-cate="@p2.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de entregaAparato *@
                    @* cambioDomicilio *@
                    <div class="tab-pane fade mt-2 ml-3" id="reactivacion" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Cambio de Domicilio</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:101%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Fecha de Atención</th>
                                            <th>Días de Atención</th>
                                            <th>Días de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ i = 0;}
                                        @foreach (var p2 in Model.incidencias.convencional)
                                        {
                                            if (p2.Tipo == "cambioDomicilio")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Cambio de Domicilio</td>
                                                    <td>@p2.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.FechaAtencion.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.DiasAtencion</td>
                                                    <td>@p2.DiasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p2.FechaSolicitud.ToString("yyyy-MM-dd")" data-fechaa="@p2.FechaAtencion.ToString("yyyy-MM-dd")"
                                                           data-id="@p2.Id" data-cate="@p2.Tipo" data-linea="@p2.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p2.Id" data-cate="@p2.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de cambioDomicilio *@
                    @* reubicacion *@
                    <div class="tab-pane fade mt-2 ml-3" id="suspension" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Reubicación de Líneas Telefónicas</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:101%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Fecha de Atención</th>
                                            <th>Días de Atención</th>
                                            <th>Días de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ i = 0;}
                                        @foreach (var p2 in Model.incidencias.convencional)
                                        {
                                            if (p2.Tipo == "reubicacion")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Reubicación</td>
                                                    <td>@p2.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.FechaAtencion.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.DiasAtencion</td>
                                                    <td>@p2.DiasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p2.FechaSolicitud.ToString("yyyy-MM-dd")" data-fechaa="@p2.FechaAtencion.ToString("yyyy-MM-dd")"
                                                           data-id="@p2.Id" data-cate="@p2.Tipo" data-linea="@p2.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p2.Id" data-cate="@p2.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de reubicacion *@
                    @* identificadorLlamadas *@
                    <div class="tab-pane fade mt-2 ml-3" id="perfil" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Identificador de Llamadas</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:101%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Fecha de Atención</th>
                                            <th>Días de Atención</th>
                                            <th>Días de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ i = 0;}
                                        @foreach (var p2 in Model.incidencias.convencional)
                                        {
                                            if (p2.Tipo == "identificadorLlamadas")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Identificador de Llamadas</td>
                                                    <td>@p2.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.FechaAtencion.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.DiasAtencion</td>
                                                    <td>@p2.DiasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p2.FechaSolicitud.ToString("yyyy-MM-dd")" data-fechaa="@p2.FechaAtencion.ToString("yyyy-MM-dd")"
                                                           data-id="@p2.Id" data-cate="@p2.Tipo" data-linea="@p2.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p2.Id" data-cate="@p2.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de identificadorLlamadas *@
                    @* troncales *@
                    <div class="tab-pane fade mt-2 ml-3" id="sim" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Instalación de Troncales y DID's</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:101%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Fecha de Atención</th>
                                            <th>Días de Atención</th>
                                            <th>Días de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ i = 0;}
                                        @foreach (var p2 in Model.incidencias.convencional)
                                        {
                                            if (p2.Tipo == "troncales")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Troncales y DID's</td>
                                                    <td>@p2.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.FechaAtencion.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.DiasAtencion</td>
                                                    <td>@p2.DiasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p2.FechaSolicitud.ToString("yyyy-MM-dd")" data-fechaa="@p2.FechaAtencion.ToString("yyyy-MM-dd")"
                                                           data-id="@p2.Id" data-cate="@p2.Tipo" data-linea="@p2.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p2.Id" data-cate="@p2.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de troncales *@
                    @* internet *@
                    <div class="tab-pane fade mt-2 ml-3" id="cambio" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Contratación e Instalación de Internet</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:101%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Fecha de Atención</th>
                                            <th>Días de Atención</th>
                                            <th>Días de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ i = 0;}
                                        @foreach (var p2 in Model.incidencias.convencional)
                                        {
                                            if (p2.Tipo == "internet")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Contratación de Internet</td>
                                                    <td>@p2.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.FechaAtencion.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.DiasAtencion</td>
                                                    <td>@p2.DiasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p2.FechaSolicitud.ToString("yyyy-MM-dd")" data-fechaa="@p2.FechaAtencion.ToString("yyyy-MM-dd")"
                                                           data-id="@p2.Id" data-cate="@p2.Tipo" data-linea="@p2.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p2.Id" data-cate="@p2.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de internet *@
                    @* serviciosTelefonia *@
                    <div class="tab-pane fade mt-2 ml-3" id="vozDatos" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Solicitud de Servicios de Telefonía</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:101%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Fecha de Atención</th>
                                            <th>Días de Atención</th>
                                            <th>Días de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ i = 0;}
                                        @foreach (var p2 in Model.incidencias.convencional)
                                        {
                                            if (p2.Tipo == "serviciosTelefonia")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Servicios de Telefonía</td>
                                                    <td>@p2.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.FechaAtencion.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.DiasAtencion</td>
                                                    <td>@p2.DiasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p2.FechaSolicitud.ToString("yyyy-MM-dd")" data-fechaa="@p2.FechaAtencion.ToString("yyyy-MM-dd")"
                                                           data-id="@p2.Id" data-cate="@p2.Tipo" data-linea="@p2.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p2.Id" data-cate="@p2.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de serviciosTelefonia *@
                    @* cancelacion *@
                    <div class="tab-pane fade mt-2 ml-3" id="diagnostico" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Cancelación de Servicios</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:101%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Fecha de Atención</th>
                                            <th>Días de Atención</th>
                                            <th>Días de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ i = 0;}
                                        @foreach (var p2 in Model.incidencias.convencional)
                                        {
                                            if (p2.Tipo == "cancelacion")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Cancelación de Servicios</td>
                                                    <td>@p2.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.FechaAtencion.ToString("dd/MM/yyyy")</td>
                                                    <td>@p2.DiasAtencion</td>
                                                    <td>@p2.DiasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p2.FechaSolicitud.ToString("yyyy-MM-dd")" data-fechaa="@p2.FechaAtencion.ToString("yyyy-MM-dd")"
                                                           data-id="@p2.Id" data-cate="@p2.Tipo" data-linea="@p2.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p2.Id" data-cate="@p2.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de Diagnostico *@
                    @* Reporte de Fallas *@
                    <div class="tab-pane fade mt-2 ml-3" id="reparacion" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <h4 class="mt-2 mb-2">Reporte de Fallas</h4>
                            <div class="col-lg-12 mt-3">
                                <table class="table display" style="width:101%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Fecha y Hora de Solicitud</th>
                                            <th>Fecha y Hora de Atención</th>
                                            <th>Horas de Atención</th>
                                            <th>Horas de Retraso</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ i = 0;}
                                        @foreach (var p2 in Model.incidencias.convencional)
                                        {
                                            if (p2.Tipo == "reportesFallas")
                                            {
                                                i = i + 1;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>Reporte de Fallas</td>
                                                    <td>@p2.FechaSolicitud.ToString("dd/MM/yyyy hh:mm tt")</td>
                                                    <td>@p2.FechaAtencion.ToString("dd/MM/yyyy hh:mm tt")</td>
                                                    <td>@p2.HorasAtencion</td>
                                                    <td>@p2.HorasRetraso</td>
                                                    <td>
                                                        <a href="#" class="update_incidencia" data-fechas="@p2.FechaSolicitud.ToString("yyyy-MM-ddTHH:mm")" data-fechaa="@p2.FechaAtencion.ToString("yyyy-MM-ddTHH:mm")"
                                                           data-id="@p2.Id" data-cate="@p2.Tipo" data-linea="@p2.Linea">
                                                            <i class="fas fa-pencil text-primary mr-2"></i>
                                                        </a>
                                                        <a href="#" class="delete_incidencia" data-id="@p2.Id" data-cate="@p2.Tipo"><i class="fas fa-times text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @* Fin de Reporte de Fallas *@
                </div>
            </div>
        </div>
    </div>
</div>


@* Modal para la captura de Adjuntos *@
<div class="modal fade" id="modal_incidenciasExcel">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Adjuntar incidencias desde "Excel"</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="tipoIncidencia">Categoria:</label>
                        <select class="form-control" id="tipo_categoria">
                            <option value="">Seleccione la Categoría</option>
                            <option value="Recoleccion">Recolección de Guías</option>
                            <option value="Entrega">Guías Entregadas</option>
                            <option value="Acuses">Acuses Entregados</option>
                            <option value="Mal Estado">Guías en Mal Estado</option>
                            <option value="Extraviadas">Extraviadas</option>
                        </select>
                        <div class="col-sm-12" id="error_tipoCate">
                            <small id="dateHelp" class="text-danger">
                                Por favor seleccione la categoría
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="elegirArchivo">Seleccionar Archivo de Excel: </label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input incidencias_excel" id="fileExcel" accept=".xlsx,.xls">
                            <label class="custom-file-label" for="customFile">Seleccionar Archivo</label>
                        </div>
                        <div class="col-sm-12" id="error_customFile">
                            <small id="dateHelp" class="text-danger">
                                Por favor el archivo de excel correspondiente
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-primary" id="addExcel">Adjuntar Excel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin Modal para la captura de Incidencias *@

@* Modal para la captura de Incidencias *@
<div class="modal fade" id="modal-incidencias">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Registrar Incidencia/Requerimiento</h4>
                <button type="button" class="close close-incidencias text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <input type="hidden" id="id_incidencias" />
                            <div class="form-group col-lg-4">
                                <label for="tipoIncidencia">Categoría:</label>
                                <select class="form-control" id="categoria">
                                    <option value="">Seleccione la Categoría</option>
                                    <option value="contratacion_instalacion">Contratación e Instalación</option>
                                    <option value="cableado">Cableado Interior</option>
                                    <option value="entregaAparato">Entrega de Aparato Telefónico</option>
                                    <option value="cambioDomicilio">Cambio de Domicilio</option>
                                    <option value="reubicacion">Reubicación de Línea</option>
                                    <option value="identificadorLlamadas">Activación de Identificador de Llamadas</option>
                                    <option value="troncales">Instalación de Troncales y DID's</option>
                                    <option value="internet">Contratación e Instalación de Internet</option>
                                    <option value="serviciosTelefonia">Habilitar Servicios de Telefonía</option>
                                    <option value="cancelacion">Cancelación de Servicios</option>
                                    <option value="reportesFallas">Reporte de Falla</option>
                                </select>
                                <div class="col-sm-12" id="error_tipoCategoria">
                                    <small id="dateHelp" class="text-danger">
                                        Por favor seleccione la categoría
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4" id="div_fechaSolicitud">
                        <label for="fechaSolicitud">Fecha Solicitud: </label>
                        <input type="date" id="fecha_solicitud" class="form-control">
                        <div class="col-sm-12" id="error_fechaSolicitud">
                            <small id="dateHelp" class="text-danger">
                                Por favor capture la Fecha de Solicitud
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-4" id="div_fechaAtencion">
                        <label for="fechaAtencion">Fecha Atención: </label>
                        <input type="date" id="fecha_atencion" class="form-control">
                        <div class="col-sm-12" id="error_fechaAtencion">
                            <small id="dateHelp" class="text-danger">
                                Por favor capture la Fecha y Hora de Atención
                            </small>
                        </div>
                    </div>
                    <!-- DateTime para la Pregunta 11-->
                    <div class="form-group col-md-4" id="div_fechaSolicitudP">
                        <label for="fechaSolicitud">Fecha Solicitud: </label>
                        <input type="datetime-local" name="meeting-time" id="fecha_solicitudP" class="form-control">
                        <div class="col-sm-12" id="error_fechaSolicitudP">
                            <small id="dateHelp" class="text-danger">
                                Por favor capture la Fecha y Hora de la Solicitud
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-4" id="div_fechaAtencionP">
                        <label for="fechaAtencion">Fecha Atención: </label>
                        <input type="datetime-local" name="meeting-time" id="fecha_atencionP" class="form-control">
                        <div class="col-sm-12" id="error_fechaAtencionP">
                            <small id="dateHelp" class="text-danger">
                                Por favor capture la Fecha y Hora de Atención
                            </small>
                        </div>
                    </div>
                    <!-- Fin DateTime para la Pregunta 11-->
                    <div class="form-group col-lg-4" id="div_linea">
                        <label for="lineaTelefonica">Línea:</label>
                        <input type="text" class="form-control" id="linea_telefonica" maxlength="10" />
                        <div class="col-sm-12" id="error_linea">
                            <small id="dateHelp" class="text-danger">
                                Por favor capture la Línea Telefónica
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-primary" id="guardaIncidencia">Guardar Incidencia</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin Modal para la captura de Incidencias *@

@section Scripts{
    <script>
        window.onload = function () {
            var model = @Html.Raw(Json.Serialize(@Model));
            var tiposIncidencias = ["contratacion_instalacion", "cableado", "entregaAparato", "cambioDomicilio", "reubicacion", "identificadorLlamadas", "troncales", "internet", "serviciosTelefonia", "cancelacion", "reportesFallas"];

            $('[data-toggle="tooltip"]').tooltip();

            /*DataTables de las Incidencias*/

            $('.display').DataTable({
                paging: true,
                responsive: true,
                bLengthChange: false,
                pageLength: 5,
                responsive: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
            });

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $($.fn.dataTable.tables(true)).DataTable().columns.adjust().responsive.recalc();
            });

            /*Mensajes de Error*/
                $('#error_tipoCategoria').css('display', 'none');
                $('#error_fechaSolicitud').css('display', 'none');
                $('#error_fechaAtencion').css('display', 'none');
                $('#error_fechaSolicitudP').css('display', 'none');
                $('#error_fechaAtencionP').css('display', 'none');
                $('#error_linea').css('display', 'none');
            /*Fin de Mensajes de Error*/

            /*Ocultamos los Elementos*/
                $('#div_fechaSolicitud').css('display', 'none');
                $('#div_fechaAtencion').css('display', 'none');
                $('#div_fechaSolicitudP').css('display', 'none');
                $('#div_fechaAtencionP').css('display', 'none');
                $('#div_linea').css('display', 'none');
            /*Fin de Ocultar los Elementos*/

            /*Campos a Llenar al seleccionar la categoria de incidencias*/
                $("#categoria").change(function(){
                    $("#id_incidencia").val("");
                    $("#fecha_solicitud").val("");
                    $("#fecha_atencion").val("");
                    $("#linea_telefonica").val("");
                    if ($("#categoria").val() != "reportesFallas") {
                        $('#div_fechaSolicitud').css('display', 'block');
                        $('#div_fechaAtencion').css('display', 'block');
                        $('#div_fechaSolicitudP').css('display', 'none');
                        $('#div_fechaAtencionP').css('display', 'none');
                    } else {
                        $('#div_fechaSolicitudP').css('display', 'block');
                        $('#div_fechaAtencionP').css('display', 'block');
                        $('#div_fechaSolicitud').css('display', 'none');
                        $('#div_fechaAtencion').css('display', 'none');
                    }

                    $('#div_linea').css('display', 'block');
                });
            /*FIN de Campos a Llenar al seleccionar la categoria de incidencias*/


            /********************** Capturar Incidencias ***********************/
                $("#btn_add").click(function () {
                    $("#modal-incidencias").modal('show');
                    $("#categoria").val("");
                    $("#id_incidencias").val("");
                    $("#fecha_solicitud").val("");
                    $("#fecha_atencion").val("");
                    $("#linea_telefonica").val("");
                });

                function validaCampos(){
                    var categoria = $("#categoria").val();

                    if (categoria != "reportesFallas") {
                        if ($("#linea_telefonica").val() != "" && $("#fecha_atencion").val() != "" && $("#fecha_solicitud").val() != "") {
                            return true;
                        }
                    } else {
                        if ($("#linea_telefonica").val() != "" && $("#fecha_atencionP").val() != "" && $("#fecha_solicitudP").val() != "") {
                            return true;
                        }
                    }

                    if ($("#fecha_solicitud").val() == "") {
                        $('#fecha_solicitud').addClass('is-invalid');
                        $('#error_fechaSolicitud').css('display', 'block');
                    }

                    if ($("#fecha_atencion").val() == "") {
                        $('#fecha_atencion').addClass('is-invalid');
                        $('#error_fechaAtencion').css('display', 'block');
                    }

                    if ($("#linea_telefonica").val() == "") {
                        $('#linea_telefonica').addClass('is-invalid');
                        $('#error_linea').css('display', 'block');
                    }

                    return false;
                }

                $("#guardaIncidencia").click(function () {
                    var id = $("#id_incidencias").val();
                    var categoria = $("#categoria").val();
                    var fechaSolicitud = $("#categoria").val() != "reportesFallas" ? $("#fecha_solicitud").val() : $("#fecha_solicitudP").val();
                    var fechaAtencion = $("#categoria").val() != "reportesFallas" ? $("#fecha_atencion").val() : $("#fecha_atencionP").val();
                    var linea = $("#linea_telefonica").val() + "";
                    var pregunta = ($.inArray(categoria, tiposIncidencias)+1);

                    if (categoria == "") {
                        Swal.fire({
                            'icon': 'error',
                            'title': 'Servicio de Telefonía Convencional',
                            'html': 'Seleccione una categoría para la captura del(los) requerimiento(s)'
                        });
                        return false;
                    }

                    if (fechaSolicitud > fechaAtencion) {
                        Swal.fire({
                            'icon': 'error',
                            'title': 'Servicio de Telefonía Convencional',
                            'html': 'La fecha de solicitud no puede ser mayor a la Fecha y Hora de Atención. Favor de revisar.'
                        });
                        return false;
                    }

                    if (id == "") {
                        id = 0;
                    } else {
                        id = parseInt(id);
                    }

                    if (validaCampos()) {
                        if (id != "") {
                            axios.post('/telConvencional/actualiza/incidencia', {
                                Id: id,
                                CedulaConvencionalId: parseInt(model.id), Tipo: categoria, FechaSolicitud: fechaSolicitud, Pregunta: parseInt(pregunta),
                                FechaAtencion: fechaAtencion, Linea: linea
                            }).then(res => {
                                Swal.fire({
                                    'icon': "success",
                                    'title': "Servicio de Telefonía Célular",
                                    'html': 'El requerimiento fue actualizado de forma correcta.'
                                }).then(function () {
                                    window.location.reload();
                                });
                            }).catch(e => {
                                Swal.fire({
                                    'icon': "error",
                                    'title': "Servicio de Telefonía Célular",
                                    'html': 'El requerimiento no fue actualizado de forma correcta.'
                                });
                            });
                        }
                        else {
                            axios.post('/telConvencional/inserta/incidencia', {
                                CedulaConvencionalId: parseInt(model.id), Tipo: categoria, FechaSolicitud: fechaSolicitud, Pregunta: parseInt(pregunta),
                                FechaAtencion: fechaAtencion, Linea: linea
                            }).then(res => {
                                Swal.fire({
                                    'icon': "success",
                                    'title': "Servicio de Telefonía Célular",
                                    'html': 'El requerimiento fue agregado de forma correcta.'
                                }).then(function () {
                                    window.location.reload();
                                });
                            }).catch(e => {
                                Swal.fire({
                                    'icon': "error",
                                    'title': "Servicio de Telefonía Célular",
                                    'html': 'El requerimiento no fue agregado de forma correcta.'
                                });
                            });
                        }
                    }

                });

                $(".update_incidencia").click(function(){
                    var id = $(this).data("id");
                    var categoria = $(this).data("cate");
                    var fechaSolicitud = $(this).data("fechas");
                    var fechaAtencion = $(this).data("fechaa");
                    var linea = $(this).data("linea");

                    $("#id_incidencias").val(id);
                    $("#categoria").val(categoria).change();
                    $("#categoria").prop('disabled', true);
                    if (categoria != "reportesFallas") {
                        $("#fecha_solicitud").val(fechaSolicitud);
                        $("#fecha_atencion").val(fechaAtencion);
                    } else {
                        $("#fecha_solicitudP").val(fechaSolicitud);
                        $("#fecha_atencionP").val(fechaAtencion);
                    }
                    $("#linea_telefonica").val(linea);

                    $("#modal-incidencias").modal('show');

                });

                $(".delete_incidencia").click(function(){
                    var id = $(this).data("id");
                    var categoria = $(this).data("tipo");
                    var tipo = $("#categoria option[value='"+categoria+"']").text();
                    var numeroGuia = $(this).data("numero");

                    Swal.fire({
                            'icon': 'warning',
                            'title': 'Servicio de Telefonía Celular',
                            'html': '¿Estás seguro de eliminar el requerimiento ?',
                            'confirmButtonColor': '#3085d6',
                            'cancelButtonColor': '#d33',
                            'confirmButtonText': 'Si, Eliminar Incidencia',
                            'cancelButtonText': 'Cancelar',
                            'showCancelButton': true
                        }).then(response => {
                            if (response.isConfirmed) {
                                axios.get("/telConvencional/incidencia/eliminar/"+id).then(response => {
                                    if (response.status == 200) {
                                        Swal.fire(
                                            'Servicio de Telefonía Convencional',
                                            'La incidencia fue eliminada con éxito.',
                                            'success'
                                        ).then(function () {
                                            window.location.reload();
                                        });
                                    }
                                }).catch(error => {
                                    Swal.fire(
                                        'Servicio de Telefonía Convencional',
                                        'No se pudo eliminar el requerimiento del servicio de telefonía convencional. Contacta a tu Administrador.',
                                        'error'
                                    );
                                });
                            }
                        });

                });
            /****************** Fin de Capturar Incidencias*********************/

            /****************** Validaciones al Capturar Incidencias*********************/

                $("#fecha_solicitud").change(function(){
                    if ($('#fecha_solicitud').hasClass('is-invalid')) {
                        $('#fecha_solicitud').removeClass('is-invalid');
                        $('#fecha_solicitud').addClass('is-valid');
                        $('#error_fechaSolicitud').css('display', 'none');
                    }
                });

                $("#fecha_atencion").change(function(){
                    if ($('#fecha_atencion').hasClass('is-invalid')) {
                        $('#fecha_atencion').removeClass('is-invalid');
                        $('#fecha_atencion').addClass('is-valid');
                        $('#error_fechaAtencion').css('display', 'none');
                    }
                });

                $("#linea_telefonica").change(function(){
                    if ($('#linea_telefonica').hasClass('is-invalid')) {
                        $('#linea_telefonica').removeClass('is-invalid');
                        $('#linea_telefonica').addClass('is-valid');
                        $('#error_linea').css('display', 'none');
                    }
                });
            /**************** Fin Validaciones al Capturar Incidencias ******************/




        }
    </script>
}

