@model IEnumerable<CedulasEvaluacion.Entities.MFinancieros.DashboardFinancieros>
@{
    ViewData["Title"] = "Cédulas Generadas por Servicio";
    var anio = 2023;
}
<div class="container-fluid" id="Prrueba">
    <a href="#" type='button' id="btnReportePAT" class='btn-sm btn-danger float-right mr-2 mb-3' data-toggle="tooltip" title="Generar Reporte Mensual PAT" data-placement="top">
        <i class="fa-light fa-file-pdf"></i>
    </a>
    <div class="row col-lg-12 text-right"></div>
    <div class="border-top mb-3"></div>
    <div class="row mt-1">
        @foreach (var ds in Model)
        {
            <div class="col-lg-3 col-6 font-weight-bold">
                <!-- small box -->
                <div class="small-box @ds.Fondo">
                    <div class="inner">
                        <h5>Servicio de @ds.Servicio</h5>
                        <p><h6 class="font-weight-bold">@ds.Total - Cédula(s) Generadas</h6></p>
                        <div class="icon">
                            @Html.Raw(@ds.Icono)<br />
                        </div>
                    </div>
                    <a href="/financieros/detalle/@ds.Servicio" class="small-box-footer">Ver detallles<i class="fas fa-arrow-circle-right ml-2"></i></a>
                </div>
            </div>
        }
    </div>
</div>

@*Modal para Capturar Oficios*@
<div class="modal fade" id="modal-pat">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Nuevo Oficio</h4>
                <button type="button" class="close close-incidencias text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-row col-md-3" id="divCategoria">
                        <label for="">Mes a Consultar:</label>
                        <select class="form-control" id="selectMes"></select>
                        <div class="col-sm-12" id="error_mes">
                            <small id="dateHelp" class="text-danger">
                                Por favor seleccione el mes a consultar
                            </small>
                        </div>
                    </div>
                    <div class="form-row col-md-3" id="divCategoria">
                        <label for="Anio">Año del Oficio: </label>
                        <select id="selectAnio" class="form-control">
                            <option value="">Seleccione una opción</option>
                            @for (var i = 2021; i < anio; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <div class="col-sm-12" id="error_anio">
                            <small id="dateHelp" class="text-danger">
                                Por favor seleccione el año a consultar
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-primary" id="generarReporte">Generar Reporte</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin del Modal para Capturar Oficios*@

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];

            $("#error_mes").css('display','none');
            $("#error_anio").css('display','none');

            $("#btnReportePAT").click(function () {
                $("#modal-pat").modal("show");
                let optionsMes = "<option value=''>Seleccione el Mes</option>";
                meses.forEach(function (mes) {
                    optionsMes += "<option value=" + mes + ">" + mes + "</option>"
                });
                $("#selectMes").html(optionsMes);
            });

            $("#generarReporte").click(function () {
                if (validaCampos()) {
                    window.open('/financieros/reportePAT/' + $("#selectMes").val() + '/' + $("#selectAnio").val(), '_blank');
                }
            });

            function validaCampos() {
                if ($("#selectMes").val() != "" && $("#selectAnio").val() != "") {
                    return true;
                }

                if ($("#selectMes").val() == "") {
                    Swal.fire({
                        'icon': 'error',
                        'title': 'Reporte Financieros',
                        'html': '<p style="text-align: justify;">Por favor seleccione el mes a consultar antes de generar el reporte</p>'
                    });
                    $("#selectMes").addClass("is-invalid");
                    $("#error_mes").css('display', 'block');
                    return false;
                }

                if ($("#selectAnio").val() == "") {
                    Swal.fire({
                        'icon': 'error',
                        'title': 'Reporte Financieros',
                        'html': '<p style="text-align: justify;">Por favor seleccione el año a consultar antes de generar el reporte</p>'
                    });
                    $("#selectAnio").addClass("is-invalid");
                    $("#error_anio").css('display', 'block');
                    return false;
                }
            }

            $("#selectMes").change(function () {
                if ($(this).val() != "") {
                    $("#error_mes").css('display', 'none');
                    $("#selectMes").removeClass("is-invalid");
                    $("#selectMes").addClass("is-valid");
                } else if ($(this).val() == "") {
                    $("#error_mes").css('display', 'block');
                    $("#selectMes").removeClass("is-valid");
                    $("#selectMes").addClass("is-invalid");
                }
            });

            $("#selectAnio").change(function () {
                if ($(this).val() != "") {
                    $("#error_anio").css('display', 'none');
                    $("#selectAnio").removeClass("is-invalid");
                    $("#selectAnio").addClass("is-valid");
                } else if ($(this).val() == "") {
                    $("#error_anio").css('display', 'block');
                    $("#selectAnio").removeClass("is-valid");
                    $("#selectAnio").addClass("is-invalid");
                }
            });
        });
    </script>
}

